.productDetailsPanel .addArriveStoreRemind {
	position: relative;
	padding: 0px 9px 0px 31px;
	border: 1px solid #DDD;
	text-align: center;
	float: left;
	height: 38px;
	margin: 0px 4px 0px 5px;
	border-radius: 2px;
	line-height: 38px;
	text-decoration: none;
	color: #333;
	background: -moz-linear-gradient(center top, #F7F7F7, #F2F2F2) repeat
		scroll 0% 0% transparent;
	display: inline-block;
	cursor: pointer;
}

.productDetailsPanel .addArriveStoreRemind b {
	position: absolute;
	left: 10px;
	top: 13px;
	display: block;
	width: 15px;
	height: 12px;
	background: url("../images/arrivestoreremind.png") no-repeat scroll 0% 0% transparent;
}

.reveal-form {
	width: 100%;
	float: left;
}

.reveal-form input {
	width: 80px;
}

.reveal-detail {
	padding: 0 20px 20px 20px;
	text-align: center;
	clear: both;
}

.reveal-button {
	text-align: center;
	clear: both;
}

.reveal-from .error-message {
	color: #cc0000;
	font-size: 12px;
	float: left;
	margin-top: -8px;
}

.productBox .addArriveStoreRemind {
	position: relative;
	padding: 0px 9px 0px 31px;
	border: 1px solid #DDD;
	text-align: center;
	float: left;
	height: 19px;
	margin: 0px 4px 0px 100px;
	border-radius: 2px;
	line-height: 18px;
	text-decoration: none;
	color: #333;
	background: -moz-linear-gradient(center top, #F7F7F7, #F2F2F2) repeat
		scroll 0% 0% transparent;
	display: inline-block;
	cursor: pointer;
	display: none;
}

.productBox .addArriveStoreRemind b {
	position: absolute;
	left: 10px;
	top: 3px;
	display: block;
	width: 15px;
	height: 12px;
	background: url("../images/arrivestoreremind.png") no-repeat scroll 0% 0% transparent;
}

@media screen and (max-width:719px) {
	.productDetailsPanel .addArriveStoreRemind {
		width: 50%;
	    margin: 0;
	    height: 50px;
	    line-height: 50px;
	    text-align: center;
	    font-size: 16px;
	    border-width: 1px 0 0 0;
	    padding: 0;
	}
	.productDetailsPanel .addArriveStoreRemind b {
		background: none;
	}
}