*{
	padding: 0;
	margin: 0;
	list-style: none;
	text-decoration: none;
	font-family: Arial, '黑体';
}
/*aaa*/
img {
    border:none;
}
html {
	font-size: 62.5%;
}
body {
    background-color: rgb(244,244,244);
    font-size: 1.2rem;
}



/* 主页头部 */
.header-wrapper {
	width: 100%;
	display: block;
}
@media screen and (max-width: 719px){
	.header-wrapper {
		display: none;
	}
	.header-small{
		display: block;
	}
}

.header {
	width: 97.11%;
	height:97px;
	margin: 0 auto;
}

.header .logo {
	float: left;
	width: 20.6%;
	margin-left: 3%;
	line-height: 97px;
}
.header .logo img {
	width: 100%;
	vertical-align: middle;
}

.header .search {
	float: left;
	width: 27.8%;
	margin-left: 8%;
	margin-top: 26px;
}
.header .search .searchInput {
	float: left;
	width: 81.8%;
	height: 30px;
	padding-left: 2%;
	border: 1px solid #e0ddde;
	outline: medium none;
}
.header .search .searchBtn {
	float: left;
    width: 15%;
    height: 32px;
    color: #fff;
    background: #fd8d24;
    text-align: center;
    cursor: pointer;
    outline: medium none;
    border: none;
    font-size: 1.6rem;
}
.header .search .search-item {
	float: left;
	width: 100%;
}
.header .search .search-item a {
	color: #676767;
	margin: 0 1%;
	font-size: 1.2rem;
	line-height: 24px;
}

.header .nav-right {
	float: left;
	width: 28.6%;
	margin-left: 12%;
	margin-top: 39px;
	font-size: 1.4rem;
}
.header .nav-right a {
	float: left;
	display: block;
	color: #666666;
}
.header .nav-right a:hover {
	color: #fd8d24;
}
.header .nav-right span {
	float: left;
	display: inline-block;
	color: #e1e1e1;
	margin: 0 2%;
}


.second-header-small{
	width: 100%;
	height: 85px;
	margin: 0 auto;
	background-color: #000;
	position: relative;
	display: none;
}
@media screen and (max-width: 719px){
	.second-header-small{
		display: block;
	}
}

.second-header-small  .header-left{
	float: left;
	padding-left: 2%;
	padding-top: 25px;
}
.second-header-small h1{
	color: #fff;
	float: left;
	margin-left: 35.8%;
	line-height: 85px;
}
.second-header-small  .header-right{
	float: right;
	padding-right: 1%;
	padding-top: 37px;
}

/*点击实现js效果*/
.second-header-small .right-down{
	float: right;

}
.second-header-small .header-right{
	width: 4.8rem;
	float: right;
	padding-right: 4%;
	/*margin-top: -16.5%;*/
}

.second-header-small .none{
	float: right;
	width: 16.2rem;
	height: 15rem;
	background: url(../images/3456.jpg);
	position: absolute;
	top:5.5rem;
	right:0;
	display: none;
	z-index:100000;
}

.second-header-small .none  a{
	font-size: 1.8rem;
	color: rgb(175,175,175);
}
.second-header-small .none .p1{
	padding-left: 2.4rem;
	padding-top: 3.1rem;
}
.second-header-small .none .p2{
	padding-left: 2.4rem;
	padding-top: 2.2rem;
}
.second-header-small .none .p3{
	padding-left: 2.4rem;
	padding-top: 1.7rem;
}









/* 导航标题 */
.banner-title {
	width: 99%;
	height: 55px;
	padding-left: 1%;
	background: #000000;
	font-size: 1.6rem;
	top: 0;
    z-index: 10;
    display: block;
}
@media screen and (max-width: 719px){
	.banner-title {
		display: none;
	}
}
.banner-title .title-item-add {
	height: 55px;
	display: none;
	float: left;
	width: 100px;
}
.banner-title ul li {
	float: left;
	padding: 0 2.5%;
	position: relative;
	
}
.banner-title ul li:first-child {
	min-width: 87.5px;
}
.banner-title ul li .dropBtn {
	position: absolute;
	width: 0;
	height: 0;
	border-color: #fff rgba(255,255,255,0) rgba(255,255,255,0);
	border-style: solid;
	border-width: 7px 7px 0;
	overflow: hidden;
	top: 45%;
	right: 5%;
	cursor: pointer;
	transition: all 0.3s ease-in 0s;
}
.banner-title ul li:hover .dropBtn {
	transform: rotate(180deg);
}
.banner-title ul li:hover {
	background: #1e90df;
}
/*.banner-title .title-ul .title-item:hover .dropmenu {
	display: block;
}
*/.banner-title ul li a {
	display: block;
	line-height: 55px;
	color: #ffffff;
}



.second-main{
	width: 95%;
	margin:0 auto;
	overflow: hidden;
	display: block;
}

@media screen and (max-width: 719px){
	.second-main {
		display: none;
	}
}
.second-main .main-left {
	float: left;
	width: 17%;
}
/* 左侧手风�?? */
.second-main .menu_list{
	width:100%;
	margin-bottom: 45px;
	background: #fff;
}
.second-main .menu_list img{
	width: 25px;
	height: 25px;
	line-height:47px;
}
.second-main .menu_head{
	width:82%;
	height:55px;
	line-height:55px;
	padding-left:18%;
	font-size:14px;
	color:#525252;
	cursor:pointer;
	border-top:1px solid #e1e1e1;
	position:relative;
	font-size: 1.4rem;
	margin:0;
}
.second-main #menu_head0{
	background:url(../images/0.png) center left no-repeat;
	background-size: 25px 25px;
	border:none;
}
.second-main #menu_head1{
	background:url(../images/1.png) center left no-repeat;
	background-size: 25px 25px;
}
.second-main #menu_head2{
	background:url(../images/2.png) center left no-repeat;
	background-size: 25px 25px;
}
.second-main #menu_head3{
	background:url(../images/3.png) center left no-repeat;
	background-size: 25px 25px;
}
.second-main #menu_head4{
	background:url(../images/4.png) center left no-repeat;
	background-size: 25px 25px;
}
.second-main #menu_head5{
	background:url(../images/5.png) center left no-repeat;
	background-size: 25px 25px;
}
.second-main .menu_body{
	width:100%;
	height:auto;
	overflow:hidden;
	line-height:38px;
}
.second-main .menu_body a{
	display:block;
	width:60%;
	height:38px;
	line-height:38px;
	padding-left:18%;
	color:#777777;
	text-decoration:none;
	font-size: 1.2rem;
	background:url(../images/jiahao.png) center right no-repeat;
	background-size: 20px 20px;
}
/* 左侧手风�?? */

.second-main .main-left .related-commodity {
	width: 100%;
}
/* 查看过该商�?的用户还看过 */
.second-main .related-commodity .related-title {
	display: inline-block;
	font-size: 1.4rem;
	color: #015ba0;
}
.second-main .related-commodity .related-item {
	width: 100%;
	text-align: center;
	border: 1px solid #d1d1d1;
	margin: 5% 0;
	background: #fff;
}

.second-main .related-item .related-item-img {
	width: 100%;
	overflow: hidden;
	border-bottom: 1px solid #d1d1d1;
}
.second-main .related-item img {
	width:80%;
	transition: all 0.5s;
}
.second-main .related-item:hover img {
	transform: scale(1.05,1.05);
}
.second-main .related-item span {
	display: inline-block;
	width: 90%;
    margin: 2% 0;
    line-height: 24px;
}
.second-main .related-item .item-name {
	font-size: 1.2rem;
	color: rgb(145,145,145);
}
.second-main .related-item .item-price {
	color: #e23e09;
	font-size: 1.4rem;
}

.second-main .change-batch {
	width: 100%;
	text-align: center;
}
.second-main .change-batch a {
	display: block;
	color: #989898;
	font-size: 1.4rem;
	text-decoration: underline;
}
.second-main .change-batch a img {
	vertical-align: middle;
}
/* 查看过该商�?的用户还看过 */

.second-main .main-right{
	float: left;
	margin-left: 4%;
	width: 75%;
}
.second-main .right-area{
	width: 100%;
	float: left;
}
.second-main .right-title{
	float: left;
	width: 100%;
	line-height: 20px;
	margin: 10px 0;
	color: rgb(9,72,125);
}
.second-main .right-title h3{
	color: #000;
	width: 40px;
	float: left;
}
.second-main .right-title a{
	margin:0 5px;
	color: rgb(103,103,103);
	font-weight: bolder;
}
.second-main .choose{
	width: 100%;
	float: left;
	border:1px solid rgb(219,226,244);
	border-bottom: none;
}
.second-main .choose-oneline{
	float: left;
	width: 100%;
}
.second-main .choose-left{
	background-color: rgb(219,226,244);
	color: #000;
	width: 9%;
	float: left;
	line-height: 0 !important;
}
.second-main .choose-right{
	width: 91%;
	float: left;
}
.second-main .choose-right li,.second-main .allWword{
	float: left;
	line-height: 20px;
	font-size: 1.4rem;
}
.second-main .choose-right .content {
	margin:5px 8px;
}
.second-main .choose-right .content:nth-child(n+6) {
	display: none;
}
.second-main .choose-right .content  a{
	padding:5px 8px;
}
.second-main .choose-right li a{
	color: rgb(92,95,100);
	display: block;
}
.second-main .choose-right li a:hover{
	background-color: rgb(223,229,243);
}
.second-main .allWword{
	margin:5px 1.8%;
	line-height: 30px;
	width: 4.4%;
	text-align: center;
	background-color: rgb(34,100,186);
	width:38px;
}
.second-main .allWword a{
	color: #fff;
	display: block;
}
.second-main .allWword a:hover{
	background-color: rgb(223,229,243);
	color: rgb(92, 95, 100);
}
.second-main .choose ul{
	float: left;
	width: 90%;
	overflow: hidden;
	height: 100%;
}
.second-main .pinpai{
	font-size: 1.5rem;
	text-align: center;
	padding: 20px 0;
}
.second-main .choose-oneline:first-child .pinpai{
	padding: 40px 0;
}
.second-main .chicun{
	font-size: 1.5rem;
	text-align: center;
}
.second-main .choose-left , .choose-right{
	border-bottom: 1px solid rgb(219,226,244);
	/*height: 41px;*/
	overflow: hidden;
}



.second-main .rank{
	height: 100%;
	width: 100%;
	margin: 15px 0 25px 0;
	background-color: rgb(237,237,237);
	float: left;
}
.second-main .paixu{
	float: left;
	border:1px solid rgb(146,146,146);
	background-color: rgb(249,249,249);
}
.second-main .paixu a{
	line-height: 45px;
	padding:0 20px;
	font-weight: bolder;
	font-size: 1.5rem;
	color: rgb(92,92,92);
	display: block;	
}
.second-main .paixu .arrowdown{
	font-size: 1.2rem;
}
.second-main .paixu ul{
	width: 110%;
}
.second-main .paixu li{
	border-right: 1px solid rgb(150,150,150);
	float: left;
	cursor: pointer;
}
.second-main .paixu li:last-child{
	border: none;
}
.second-main .jump{
	
	float: right;
	text-align: center;
	line-height: 45px;
}
.second-main .jump input{
	width: 55px;
	height: 22px;
}
.second-main .page-choose{
	
	float: right;
	text-align: center;
}
.second-main .page-choose li{
	width: 27px;
	height: 27px;
	float: left;
	margin:9px 5px;
	border:1px solid rgb(136,136,136);
	line-height: 26px;
	cursor: pointer;
}
.second-main .page-choose a{
	color: rgb(136,136,136);
	display: block;

}
.second-main .page-now{
	background-color: rgb(34,100,187);
	border-color: rgb(34,100,187);
}
.second-main .page-now a{
	color: #fff;
	display: block;
}

.second-main .all-pics{
	width: 100%;
	float: left;
}
.second-main .all-pics .one-line{
	width: 100%;
	float: left;
}
.second-main .all-pics .one-line ul li{
	width: 23%;
	height: 332px;
	margin-right: 2%;
	margin-bottom: 30px;
	border:1px solid rgb(204,204,204);
	position: relative;
	float: left;
	overflow: hidden;
	padding: 0;
	background-color: #fff;
}
.second-main .all-pics .one-line ul li:last-child{
	margin-right: 0;
}
.second-main .all-pics .one-line .one-pic{
	background-color: #fff;
	border-bottom: 1px solid rgb(204,204,204);
	height: 226px;
	text-align: center;
	cursor: pointer;
	position: relative;
	display: block;
	overflow: hidden;
}
.second-main .camera-pic{
	width: 100%;
}
.second-main .all-pics .one-pic img:first-child{
	padding-top: 0.8125rem;
}
.second-main .pic-label{
	position: absolute;
	top: 1px;
	right: 1px;
}
.second-main .pic-describe{
	font-size: 1.2rem;
	color: rgb(145,145,145);
	line-height: 22px;
	margin-top: 5px;
	width: 95%;
	margin:0 auto;
	height:65px;
	overflow:hidden;
}

.second-main .pic-describe span{
	font-size: 1.2rem;
	color: rgb(145,145,145);
	line-height: 20px;
	margin-top: 5px;
	width: 95%;
	display: block;
	white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.second-main .pic-price{
	font-size: 1.4rem;
	color: rgb(145,145,145);
	line-height: 41px;
	margin-top: 5px;
 	margin-left:2%;
}
.second-main .pic-price span{
	color: rgb(150,28,51);
	line-height: 41px;
	font-size: 1.5rem;
	font-weight: bolder;
}

.second-main #second {
	display: none;
	height: 100%;
	text-align: center;
	line-height: 35px;
}
.second-main #second li{
	height: 100%;
	border:none;
	background-color: #fff;
	color: rgb(147,147,147);
	font-size: 1.4rem;
}
.second-main #second li:last-child{
	border-bottom: 1px solid rgb(147,147,147)
}
.second-main .active {
	display: block !important;
}
.second-main .active-list{
	background-color: #fff;
}
.second-main .select-list .zhankai-word{
	/*color: rgb(147,147,147); !important;*/
}
.second-main .zhankai-fuhao{
	width: 10px;
	margin: 0 15px 0 30px;
	float: left;
}
.second-main .zhankai-word{
	float: left;
}


/*�?�?中间部分*/
.second-main-small{
	display: none;
}
@media screen and (max-width: 719px){
	.second-main-small{
		display: block;
	}
}
.second-main-small .menu{
	margin-top: 0;
	width: 100%;
	height: 60px !important;
	background: #fff;
}



.second-main-small .menu ul {
	overflow: hidden;
	margin: 0 auto;
	text-align: center;
}
.second-main-small .menu ul li{
	float: left;
	width: 19%;
	overflow:hidden;
	white-space:nowrap;
	padding-top: 20px !important;
	padding-bottom: 20px;   /*wangkena 12/25*/
}
.second-main-small .menu ul li a {
	font-size: 1.6rem;
	color: rgb(102,102,102);
}
.second-main-small .menu ul li img {
	margin-left: 4%;
}


.second-main-small  .camera {
	width: 100%;
	overflow: hidden;
	/*height: 358px;  �?能设高�?*/  
	margin: 0 auto;
}
.second-main-small  .camera .camera-pic{
	border-bottom: 2px solid rgb(204,204,204);
}
.second-main-small  .camera p{
	overflow: hidden;
	white-space: nowrap;
	text-overflow:ellipsis;
}
.second-main-small  .camera .sp{
	float: left;
	width: 165px;
}
.second-main-small  .camera .sp span{
	color: #9f2730;
	margin-left: 7%;
}
/*..main-small  .camera ul{
	padding-left: 2%;
	overflow: hidden;
	margin: 0 auto;*/
	/*text-align: center;*/
/*}*/
.second-main-small  .camera ul li{
	float: left;
	width: 48%;
	margin-left: 1.5%;
	display: block;
	border: 1px;
	margin-top: 12px;
	background: #fff;
	overflow: hidden;
	white-space: nowrap;
} 
.second-main-small  .camera ul li img{
	display: block;
	width: 100%;
}
.second-main-small  .camera ul li .gouwuche{
	display:block;
	width: 100px !important;
	min-width:100px !important;
	float:right;
	margin-top:5px;
	margin-right:5px;
}
.second-main-small  .camera .ss{
	float: left;
	width: 50%;
}
.second-main-small  .camera ul li p{
	/*float: left;*/
	overflow: hidden;
	padding-left: 0.5%;
	margin-top: 5px;
	font-size: 1.4rem;
	color: #6c6c6c;
}
.second-main-small  .camera .sale{
	float: left;
	padding-left: 0.7%;
	margin-top: 3%;
}
.second-main-smal  .camera ul li span{
	color: red;
}
.second-main-small  .camera .car{
	float: right;
	margin-bottom: 5px;
	width: 33%;
	background-color: rgb(246,29,72);
	color: #fff;
	text-align: center;
	padding: 1% 0;
	font-size: 2rem;
	margin-right: 5px;
}
.second-main-small .camera .car img{
	width: 100%;
}


/*--------------------footer----------------------------------  */
	.second-footer{
		padding-top: 15px;
		overflow: hidden;
		display: block;
	}
	@media screen and (max-width: 719px){
		.second-footer{
			display: none;
		}
	}
	.second-footer .footer-top{
		overflow: hidden;
		width: 97.11%;
		margin: 0 auto;
	}
	.second-footer .index-wechat{
		float: left;
		width: 12.5%;
		text-align: center;
		margin-left: 4.5%;
	}
	.second-footer .index-wechat img{
		width: 94.66%;
	}
	.second-footer .index-wechat p{
		font-size: 1.8rem;
		color: #535353;
		margin-top: 20px;
	}
	.second-footer .index-title{
		float: left;
		width: 79%;
		margin-left: 4%;
	}
	.second-footer .wrap{
		width: 20%;
		overflow: hidden;
		float: left;
		white-space: nowrap;
	}
	.second-footer .title-image{
		height: 38px;
		float: left;
	}
	.second-footer dl{
		float: left;
		margin-left: 5%;
		width: 110px;
	}
	.second-footer dl dt span{
		height: 38px;
		line-height: 38px;
		color: #353535;
		font-size: 2rem;
	}
	.second-footer dl dd ul{
		list-style: none;
		counter-reset: count;
	}
	.second-footer dl dd ul li{
		line-height: 25px;
	}
	.second-footer dl dd ul li:before{
		content: ".";
		color: #707070;
	}
	.second-footer dl dd ul li a{
		color: #494949;
		font-size: 1.4rem;
		margin-left: 8px;
	}
	.second-footer .footer-middle{
		overflow: hidden;
		border-top: 1px solid #d2d2d2;
		margin-top: 30px;
	}
	.second-footer .accenture-digital-logo{
		float: left;
		margin-left: 5%;
		line-height: 115px;
		width: 15.57%;
	}
	.second-footer .accenture-digital-logo img{
		width: 100%;
		vertical-align: middle;
	}
	.second-footer .service{
		float: left;
		height: 115px;
		margin-left: 7%;
		width: 72%;
	}
	.second-footer .service ul{
		overflow: hidden;
	}
	.second-footer .service ul li{
		float: left;
		list-style: none;
		height: 115px;
		width: 25%;
	}
	.second-footer .service-content{
		overflow: hidden;

	}
	.second-footer .service-content img{
		padding-top: 25px;
		float: left;
		width: 28.83%;

	}
	.second-footer .service-content-text{
		float: left;
		margin-left: 5%;
	}
	.second-footer .service-content-text h2{
		margin-top: 34px;
		color: #6c6c6c;
		font-size: 1.9rem;
	}
	.second-footer .service-content-text span{
		font-size: 1.6rem;
		color: #989898;
	}
	.second-footer .footer-bottom{
		width: 100%;
		height: 70px;
		line-height: 70px;
		background-color: #43403b;
		text-align: center;
		font-size: 1.7rem;
		color: #fff;
	}

.second-main .hide-info{
	width: 95%;
	height: 90px;
	margin:0 auto;
	border-top:1px solid rgb(204,204,204);
}
.second-main .hide-info h4{
	font-size: 1.4rem;
	color: rgb(145,145,145);
	font-weight: bold;
	margin-top: 5%;
}
.second-main .hide-info .pingfen{
 	margin-top: 10%;
	width: 50%;
	float: left;
	margin-right: 10%;
}
.second-main .hide-info .gouwuche{
	margin-left: 20%;
	cursor: pointer;
	display: block;
	width: 44px;
	height: 44px;
}
.second-main .hide-info a{
	color: #fff;
	line-height: 27px;
}
.second-main .hide-info div{
	width: 90px;
	height: 27px;
	background-color: rgb(78,131,225);
	text-align: center;
	margin:20px auto 0 auto;
	vertical-align: middle;
}
.second-main .one-pic s{
	background-color: rgba(78,131,225,.4);
}
.second-main .one-pic i ,.one-pic s {
	cursor: pointer;
    height: 100%;
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 3;
}

.second-main .one-pic em {
	background-color: #fff;
    border-radius: 100%;
    color: #4062a7;
    font-size: 1.8rem;
    line-height: 90px;
    height: 90px;
    width: 90px;
    position: absolute;
    left: 30%;
    top: 14%;
    text-align: center;
    z-index: 4;
}
.second-main .box-shadow {
	-webkit-box-shadow: 0 5px 10px #888;
    -moz-box-shadow: 0 5px 10px #888;
    -ms-box-shadow: 0 5px 10px #888;
    -o-box-shadow: 0 5px 10px #888;
    box-shadow: 0 5px 10px #888;
}
.second-main .head-choose{
	background-color: rgb(145,176,204);
	float: left;
	width: 14%;
	height: 55px;
	line-height: 55px;
	text-align: center;
}
.second-main .head-choose a{	
	display: block;
}
.second-main .head-chooseword{
	color: rgb(10,53,88);

}
.second-main .showMore , .packUp{
	margin:5px 8px !important; 
	width: 60px;
	height: 30px;
	line-height: 30px!important;
	background-color: rgb(223,229,243);
	text-align: center;
	display: none;
}

/*左侧*/
.second-main .yemian2ned_left{
	width: 100%;

}
.second-main .menu_list{
	margin:0 auto;
	width:100%;
	margin-bottom: 40px;
	overflow: hidden;
	background-color: #fff;
}
.second-main .menu_list img{
	width: 25px;
	height: 25px;
	line-height:47px;
}
.second-main .menu_head{
	width:100%;
	height:55px;
	line-height:55px;
	padding-left:38px;
	color:#525252;
	cursor:pointer;
	border-top:1px solid #e1e1e1;
	position:relative;
	font-size: 1.4rem;
	margin:0;
}
.second-main #menu_head0{
	background:url(../images/0.png) center left no-repeat;
	background-size: 25px 25px;
	border:none;
}
.second-main #menu_head1{
	background:url(../images/1.png) center left no-repeat;
	background-size: 25px 25px;
}
.second-main #menu_head2{
	background:url(../images/2.png) center left no-repeat;
	background-size: 25px 25px;
}
.second-main #menu_head3{
	background:url(../images/3.png) center left no-repeat;
	background-size: 25px 25px;
}
.second-main #menu_head4{
	background:url(../images/4.png) center left no-repeat;
	background-size: 25px 25px;
}
.second-main #menu_head5{
	background:url(../images/5.png) center left no-repeat;
	background-size: 25px 25px;
}
.second-main .menu_body{
	width:100%;
	height:auto;
	overflow:hidden;
	line-height:38px;
}
.second-main .menu_body a{
	display:block;
	width:80%;
	height:38px;
	line-height:38px;
	padding-left:38px;
	color:#777777;
	text-decoration:none;
	font-size: 1.2rem;
	background:url(../images/jiahao.png) center right no-repeat;
	background-size: 20px 20px;
}
.second-main .menu_body a:hover{
	text-decoration:none;
}
/*图片*/
.second-main .chakan_wd{
	color: rgb(10,96,155);
	clear: both;
}
.second-main .chakan_pic{
	width: 95%;
	margin: 0 auto;
	font-size: 1.2rem;
	height: 16.25rem;

}
.second-main .chakan_pic dl{
	border:1px solid #e1e1e1;
	clear: both;
	margin-top: 1.2rem;
	width: 100%;
}
.second-main .chakan_pic dt{
	border-bottom:1px solid #e1e1e1;
	clear: both;
	width: 100%;
	overflow: hidden;
}
.second-main .chakan_pic dt img{
	transition: all 0.5s;
}
.second-main .chakan_pic dt:hover img{
	transform: scale(1.1,1.1);
}
.second-main .chakan_pic .dl1{
	background-color: #fff;
	text-align: center;
} 
.second-main .chakan_pic .dl2{
	background-color: #fff;
	text-align: center;
} 
.second-main .chakan_pic .dl3{
	background-color: #fff;
	text-align: center;
} 
.second-main .chakan_pic img{
	width: 100%;
}
.second-main .chakan_pic .tino_tit{
	text-decoration: none;
	color: rgb(101,101,101);
	height: 1.8rem;
    line-height: 1.8rem;
}
.second-main .chakan_pic .tino_cost{
	text-decoration: none;
	color: rgb(240,56,4);
	height: 1.8rem;
    line-height: 1.8rem;
}


.second-main .order-now{
	background-color: rgb(71,109,184);
	color: #fff;
}
.second-main .order-now a{
	color: #fff;
}
/*----------------foooter�?�?--------------------*/
.second-footer-small {
	width: 100%;
	background-color: rgb(238,238,238);
	height: 83px;
	line-height: 83px;
	border-top: 1px solid rgb(144,144,144);
	margin-top: 4.8rem;
	display: none;
}
@media screen and (max-width: 719px){
		.second-footer-small{
			display: block;
		}
	}
.second-footer-small .fir{
	color: #fb5353;
}
.second-footer-small ul{
	overflow: hidden;
	margin: 0 auto;
	text-align: center;
	position: relative;
}
.second-footer-small ul li{
	float: left;
	padding-left: 0.5%;
	width: 24.5%;
}
.second-footer-small ul li a{
	font-size: 2.8rem;
	color: #000;
}
.second-footer-small .circle{
	width: 1.5rem;
	height: 1.5rem;
	border-radius: 50%;
	background-color: red;
	font-size: 1.4rem;
	position: absolute;
	bottom: 4em;
	border: none;
	color: white;
	padding-top: 2px;
	padding-left: 1px;
}
.second-main-small .camera ul li p:nth-child(3){
display:none;}

.second-main .related-commodity .related-item:nth-child(n+7) {
	display:none;
}
