* {
	margin: 0;
	padding: 0;
	text-decoration: none;
	list-style: none;

}
html {
	font-size: 62.5%;
	/*min-width: 719px;*/
}
body {
	margin: 0;
	padding: 0;
	font-family: "΢���ź�";
	background-color: rgb(244,244,244);
	/*min-width: 719px;*/
}
img {
	border: none;
}
a:hover {
	text-decoration: none;
}
.clearfix:before, .clearfix:after {
	content: " ";
	display: table;
}
.clearfix:after {
	clear: both;
}

/* ��ҳͷ�� */
.header-wrapper {
	width: 100%;
}
.header {
	width: 97.11%;
	height:97px;
	margin: 0 auto;
}

.header .logo {
	float: left;
	width: 20.6%;
	margin-left: 3%;
	line-height: 97px;
}
.header .logo img {
	width: 100%;
	vertical-align: middle;
}

.header .search {
	float: left;
	width: 27.8%;
	margin-left: 8%;
	margin-top: 26px;
}
.header .search .searchInput {
	float: left;
	width: 81.8%;
	height: 32px;
	padding-left: 2%;
	border: 1px solid #e0ddde;
	outline: medium none;
}
.header .search .searchBtn {
	float: left;
	width: 15%;
	height: 32px;
	color: #fff;
	background: #fd8d24;
	text-align: center;
	cursor: pointer;
	outline: medium none;
	border: none;
	font-size: 1.6rem;
}
.header .search .search-item {
	float: left;
	width: 100%;
}
.header .search .search-item a {
	color: #676767;
	margin: 0 1%;
	font-size: 1.2rem;
	line-height: 24px;
}

.header .nav-right {
	float: left;
	width: 28.6%;
	margin-left: 12%;
	margin-top: 39px;
	font-size: 1.4rem;
}
.header .nav-right a {
	float: left;
	display: block;
	color: #666666;
}
.header .nav-right a:hover {
	color: #fd8d24;
}
.header .nav-right span {
	float: left;
	display: inline-block;
	color: #e1e1e1;
	margin: 0 2%;
}
.header-wrapper-small {
    width: 100%;
    background: #000;
    display: none;
    position: relative;
}


.header-wrapper-small .header-small-content {
    width: 94.44%;
    margin: 0 auto;
    overflow: hidden;
    color: #fff;
}
.header-wrapper-small .header-small-left {
    font-size: 6.5rem;
    margin-left: -20px;
    padding-bottom: 14px;
    display: block;
    float: left;
    color: #fff;
}
.header-wrapper-small .header-small-left span {
    font-size: 2.8rem;
    display: block;
    margin-top: 20px;
    margin-left: -10px;
    font-family: "Microsoft YaHei";
    float: right;
} 
.header-wrapper-small .header-small-title {
    width: 40%;
    margin: 0 auto;
    font-size: 2.8rem;
    text-align: center;
    line-height: 67px;
    /*display: none;*/
}
.header-wrapper-small .header-small-right {
    font-size: 4.5rem;
    float: right;
    padding: 16px 0 16px;
    /*position: relative;*/
}
.header-wrapper-small .header-small-click {
    background: #fff;
    position: absolute;
    right: 1px;
    border-radius: 8px;
    width: 160px;
    overflow: hidden;
    opacity: 0.9;
    filter: alpha(opacity: 90);
    display: none;
    z-index: 10;
}
.header-wrapper-small .header-small-click a {
    padding: 13px 15px;
    font-size: 1.8rem;
    color: #4b4b4b;
    display: block;
    border-bottom: 1px solid #ccc;
}

.header-wrapper-small .header-wrapper-triangle {
    border: 15px solid rgba(255,255,255,0);
    border-bottom-color: rgba(255,255,255,0.9);
    position: absolute;
    top: 50px;
    right: 20px;
    display: none;
}

}
.gb-banner-title {
	width: 100%;
	padding-left: 1%;
	/*float: left;*/
	background: #000000;
	font-size: 1.6rem;
	top: 0;
	z-index: 10;
}
.gb-banner-title .title-ul .title-item {
	float: left;
	padding: 0 1.5%;
	position: relative;
	
}
.gb-banner-title .title-item-add {
	height: 55px;
	display: none;
	float: left;
	width: 100px;
}
.gb-banner-title .title-ul .title-item:first-child {
	min-width: 110px;
}
.gb-banner-title .title-ul .title-item .dropBtn {
	position: absolute;
	width: 0;
	height: 0;
	border-color: #fff rgba(255,255,255,0) rgba(255,255,255,0);
	border-style: solid;
	border-width: 7px 7px 0;
	overflow: hidden;
	top: 45%;
	right: 5%;
	cursor: pointer;
	transition: all 0.3s ease-in 0s;
}
.gb-banner-title .title-ul .title-item:hover .dropBtn {
	transform: rotate(180deg);
}
.gb-banner-title .title-ul .title-item:hover {
	background: #1e90df;
}
.gb-banner-title .title-ul .title-item:hover .dropmenu {
	display: block;
}
.gb-banner-title .title-ul .title-item .title-items {
	display: block;
	line-height: 55px;
	color: #ffffff;
}

.gb-banner-title {
	width: 100%;
	padding-left: 1%;
	/*float: left;*/
	background: #000000;
	font-size: 1.6rem;
	top: 0;
	z-index: 10;
}
.gb-banner-title .title-ul .title-item {
	float: left;
	padding: 0 2.5%;
	position: relative;
	
}
.gb-banner-title .title-item-add {
	height: 55px;
	display: none;
	float: left;
	width: 100px;
}
.gb-banner-title .title-ul .title-item:first-child {
	min-width: 110px;
}
.gb-banner-title .title-ul .title-item .dropBtn {
	position: absolute;
	width: 0;
	height: 0;
	border-color: #fff rgba(255,255,255,0) rgba(255,255,255,0);
	border-style: solid;
	border-width: 7px 7px 0;
	overflow: hidden;
	top: 45%;
	right: 5%;
	cursor: pointer;
	transition: all 0.3s ease-in 0s;
}
.gb-banner-title .title-ul .title-item:hover .dropBtn {
	transform: rotate(180deg);
}
.gb-banner-title .title-ul .title-item:hover {
	background: #1e90df;
}
.gb-banner-title .title-ul .title-item:hover .dropmenu {
	display: block;
}
.gb-banner-title .title-ul .title-item .title-items {
	display: block;
	line-height: 55px;
	color: #ffffff;
}
/*ȫ����Ʒ���������˵�*/
.gb-banner-title .title-ul .title-item .dropmenu {
	display: none;
	width: 100%;
	min-width: 110px;
	height: 450px;
	background: rgba(63,78,68,0.6);
	position: absolute;
	top: 55px;
	left: 0;
	z-index: 3;
	font-size: 1.4rem;
}
.gb-banner-title .dropmenu ul li {
	width: 100%;
	height: 60px;
	border-bottom: 1px solid rgba(255,255,255,0.2);
	/*position: relative;*/
}
.gb-banner-title .dropmenu ul li:hover .dropmenu-right-wrapper {
	display: block;
}
.gb-banner-title .dropmenu ul li .cameraIcon {
	float: left;
	color: #fff;
	font-size: 2rem;
	display: block;
	line-height: 60px;
	text-align: center;
	margin: 0 8%;
}
.gb-banner-title .dropmenu ul li a {
	line-height: 60px;
	display: block;
	color: #ffffff;
}
.gb-banner-title .dropmenu ul li .dropmenu-right-wrapper {
	display: none;
	position: absolute;
	left: 100%;
	top: 0;
	width: 421.5%;
	min-width: 585px;
	height: 450px;
	background: #fcfcfc;
}

.gb-banner-title .dropmenu-right-wrapper .dropmenu-right-btn {
	position: absolute;
	left: -15px;
	top: 20px;
	border: 8px solid rgba(255,255,255,0);
	border-right-color: rgb(255,255,255);
}

.gb-banner-title .dropmenu-right-wrapper .dropmenu-right {
	width: 93.44%;
	height: 100%;
	margin: 0 auto;
	color: #666666;
}
.gb-banner-title .dropmenu-right .title {
	width: 100%;
	font-size: 1.4rem;
	border-bottom: 1px dotted #cccccc;
	line-height: 53px;
}
.gb-banner-title .dropmenu-right .camera-items {
	width: 94%;
}
.gb-banner-title .dropmenu-right .camera-items .camera-item, .dropmenu-right .camera-items .divide-line {
	float: left;
	color: #666666; 
	line-height: 34px;
	font-size: 1.2rem;
}
.gb-banner-title .dropmenu-right .camera-items .camera-item:hover {
	color: #fd8d24;
}
.gb-banner-title .dropmenu-right .camera-items .divide-line {
	margin: 0 1.8%;
}

.gb-banner-title .dropmenu-right .bottom {
	width: 100%;
	margin-top: 7.5%;
}
.gb-banner-title .dropmenu-right .bottom .descr {
	width: 50%;
	margin-top: 10%;
	float: left;
}
.gb-banner-title .dropmenu-right .bottom .descr1 {
	display: inline-block;
	color: #0d0d0d;
	font-size: 3rem;
}
.gb-banner-title .dropmenu-right .bottom .descr2 {
	display: inline-block;
	color: #0c0c0c;
	font-size: 2rem;
}
.gb-banner-title .dropmenu-right .bottom .img {
	width: 50%;
	float: left;
}
.gb-banner-title .dropmenu-right .bottom .img img {
	width: 100%;
}

/* banner-image */

/*.carousel, .carousel-inner, .carousel .carousel-inner .item {
	height: 450px;
}
.carousel .carousel-inner .item img {
	display: block;
	width: 100%;
	height: 450px;
}
.carousel .carousel-indicators {
	width: 100%;
	height: 45px;
	background: #efefef;
	top: 450px;
	left: 0;
	margin-left: 0;
	z-index: 5;
}
.carousel .carousel-indicators li {
	width: 15px;
	height: 15px;
	border-radius: 15px;
	margin-top: 15px;
	background: #fff;
}
.carousel .carousel-indicators li.active {
	background: #fd8d24;
}
*/

/*.menu-list li img {
	width: 100%;
	display: block;
}
*/
.gb-banner {
	width: 97.11%;

	position: relative;
	margin:0 auto;
	margin-top:20px;
}

/*  �ֲ�ͼ  */
.gb-banner .main_visual{
	height:420px;
	overflow:hidden;
	position:relative;
	margin-bottom: 30px;
}
.gb-banner .main_image {
	height:380px;
	overflow:hidden;
	position:relative;
}
.gb-banner .main_image ul{
	width:9999px;
	height:380px;
	overflow:hidden;
	position:absolute;
	top:0;
	left:0
}
.gb-banner .main_image li{
	float:left;
	height:380px;
}
.gb-banner .main_image li a{
	display:block;
	width:100%;
	height:380px;
	}
.gb-banner .main_image li img {
	width: 100%;
	height: 100%;
}
.gb-banner .main_visual .flicking_con {
	position: absolute;
	width: 100%;
    height: 40px;
    background: #000;
    left: 0;
    margin-left: 0;
    z-index: 5;
    bottom: 0;

}
.gb-banner .main_visual .flicking_con span {
	cursor: pointer;
    width: 33%;
    line-height: 40px;
    font-size: 14px;
    color:#fff;
text-align: center;
    display: block;
    float: left;
}
.gb-banner .main_visual .flicking_con .on {
	color:#ff1645;
}
.gb-banner .main_visual .flicking_spot {
	position: absolute;
	width: 100%;

    left: 0;
    margin-left: 50%;
display:none;
    z-index: 5;
    bottom: 15px;

}
.gb-banner .main_visual .flicking_spot span {
	cursor: pointer;
    margin-right:10px;
    line-height: 40px;
    background: #fff;
    border:1px solid #ccc;
 width:10px;
 height:10px;
 border-radius: 15px;
    color:#fff;
text-align: center;
    display: block;
    float: left;
}
.gb-banner .main_visual .flicking_spot .on {
	background:#4fb7ec;
}
.gb-banner .banner-bottom{
	width:100%;
	float: left;
		margin-bottom:10px;
		display: none;
}
.gb-banner .banner-bottom-title{
	margin-left: 2.78%;
		font-size: 2rem;
	line-height: 70px;
	font-weight: bold;

}


.gb-banner .banner-bottom img{
	width:100%;
}
.gb-banner .banner-bottom .banner-bottom-detail{
			border-bottom: 1px solid #ccc;

}
.gb-banner .banner-bottom .banner-bottom-count{
		padding-left: 2.78%;
		float: left;
		font-size: 1.8rem;
	line-height: 50px;
}
.gb-banner .banner-bottom .banner-bottom-count span{
	
}
.gb-banner .banner-bottom .banner-bottom-days{
	color:#ff0000;
}
.gb-banner .banner-bottom .banner-bottom-hours{
	color:#ff0000;
}
.gb-banner .banner-bottom .banner-bottom-mins{
	color:#ff0000;
}
.gb-banner .banner-bottom .banner-bottom-seconds{
	color:#ff0000;
}
.gb-banner .banner-bottom .banner-bottom-sold{
	display: block;
	float: right;
		font-size: 1.8rem;
	line-height: 50px;
}
.gb-banner .banner-bottom .banner-bottom-sold .banner-bottom-sold-num{
	color:#ff0000;
	}
.gb-banner .banner-left{
	width: 76.34%;
	float: left;
}
.gb-banner .banner-right{
	width:23.66%;
	float: left;
}
.gb-banner .banner-right img{
	height:420px;
	width:100%;
}
.gb-banner .banner-right-menu1 .banner-right-menu-span{
	display: block;
		float: left;
		width:54.84%;

	}
.gb-banner .banner-right-menu1 .banner-right-menu-title{
	display: block;
	font-size:2rem;
	color: #ff0000;
	margin:20px 0 14px 13.39%;
			white-space: nowrap;
		overflow: hidden;
		text-overflow:ellipsis;
}
.gb-banner .banner-right-menu1 .banner-right-menu-subtitle{
	display: block;
	font-size:1.5rem;
	color:#6f6563;
		margin:0 0 14px 27.74%;
			white-space: nowrap;
		overflow: hidden;
		text-overflow:ellipsis;
}
.gb-banner .banner-right-menu1 .banner-right-menu-discount{
	display: block;
	font-size:1.5rem;
	color: #ff0000;
	margin-left:20.61%;
				white-space: nowrap;
		overflow: hidden;
		text-overflow:ellipsis;
}

.gb-banner .banner-right-menu1 img{
	width:45.16%;
	float: right;
}

.gb-banner .banner-right-menu2{
	height:140px;
	background: #e5e7fe;
}
.gb-banner .banner-right-menu2 .banner-right-menu-span{
	display: block;
		float: left;
		width:54.84%;

	}
.gb-banner .banner-right-menu2 .banner-right-menu-title{
	display: block;
	font-size:2rem;
	color: #ff0000;
	margin:20px 0 14px 13.39%;
			white-space: nowrap;
		overflow: hidden;
		text-overflow:ellipsis;
}
.gb-banner .banner-right-menu2 .banner-right-menu-subtitle{
	display: block;
	font-size:1.5rem;
	color:#6f6563;
		margin:0 0 14px 27.74%;
			white-space: nowrap;
		overflow: hidden;
		text-overflow:ellipsis;
}
.gb-banner .banner-right-menu2 .banner-right-menu-discount{
	display: block;
	font-size:1.5rem;
	color: #ff0000;
	margin-left:20.61%;
				white-space: nowrap;
		overflow: hidden;
		text-overflow:ellipsis;
}

.gb-banner .banner-right-menu2 img{
	width:45.16%;
	float: right;
}

.gb-banner .banner-right-menu3{
	height:140px;
	background: #feebed;
}
.gb-banner .banner-right-menu3 .banner-right-menu-span{
	display: block;
		float: left;
		width:54.84%;

	}
.gb-banner .banner-right-menu3 .banner-right-menu-title{
	display: block;
	font-size:2rem;
	color: #ff0000;
	margin:20px 0 14px 13.39%;
			white-space: nowrap;
		overflow: hidden;
		text-overflow:ellipsis;
}
.gb-banner .banner-right-menu3 .banner-right-menu-subtitle{
	display: block;
	font-size:1.5rem;
	color:#6f6563;
		margin:0 0 14px 27.74%;
			white-space: nowrap;
		overflow: hidden;
		text-overflow:ellipsis;
}
.gb-banner .banner-right-menu3 .banner-right-menu-discount{
	display: block;
	font-size:1.5rem;
	color: #ff0000;
	margin-left:20.61%;
				white-space: nowrap;
		overflow: hidden;
		text-overflow:ellipsis;
}

.gb-banner .banner-right-menu3 img{
	width:45.16%;
	float: right;
}
/*.carousel, .carousel-inner, .carousel .carousel-inner .item {
	height: 381px;
}
.carousel .carousel-inner .item img {
	display: block;
	width: 100%;
	height: 381px;
}
.carousel .carousel-indicators {
	width: 100%;
	height: 45px;
	background: #efefef;
	top: 381px;
	left: 0;
	margin-left: 0;
	z-index: 5;
}
.carousel .carousel-indicators li {
	width: 15px;
	height: 15px;
	border-radius: 15px;
	margin-top: 15px;
	background: #fff;
}
.carousel .carousel-indicators li.active {
	background: #fd8d24;
}*/

	.gb-main-wrap{
				width:97.11%;
				margin:0 auto;
		margin-top: 40px;
	}
.gb-main-wrap .main-header{
		width:100%;

	}

	.gb-main-wrap .main-header-title{
		width:100%;


	}

	.gb-main-wrap .main-title{
		display: block;
		text-align: center;
		font-size: 3.2rem;
	}

	.gb-main-wrap .main-subtitle{
		display:block;
		text-align: center;
		color: #aeaeae;
		font-size: 2.4rem;
		margin-top: 3px;
		margin-bottom: 20px;
	}

.gb-main-wrap .main-header-nav{
	height:42px;
	border-bottom: 1px solid #000;
	margin-bottom: 20px;
}

.gb-main-wrap .main-header-nav-time{
	color:#1899d3;
	line-height: 42px;
	display: block;
	float: left;
}

.gb-main-wrap .main-header-nav-order{
	float: left;
	margin-left: 34%;
}
.gb-main-wrap .main-header-nav-order1,.main-header-nav-order2,.main-header-nav-order3{
	float: left;
	display: block;
	line-height: 42px;
	width:100px;
	text-align: center;
}
.gb-main-wrap .main-header-nav-order1{
	color:#ff0000;
}
.gb-main-wrap .main-header-nav-search{
	float: right;
	margin-top:5px;
}

.gb-main-wrap .main-header-nav-search .searchtext{
	background-color: #fff;
	border:1px solid #ccc;
	height:30px	;
	width:150px;

	float:left;
}
.gb-main-wrap .main-header-nav-search .button{
		line-height:30px	;
		margin-left:-1px;
	background-color: rgb(245,245,245);
	border:1px solid #ccc;
	color:#ccc;
	width:40px;

	float:left;
	
}

.gb-main-wrap .main-menu{
	width:97.11%;
	margin:0 auto;
	position: relative;
}
.gb-main-wrap .main-menu-left{
	width:64.89%;
	float: left;

}


.gb-main-wrap .main-menu-left-item{
	float: left;
	width: 48%;
	margin-right:1.5%;
	border:1px solid #d8d8d8;
	margin-bottom: 24px;

}
.gb-main-wrap .main-menu-left-item a {
	display:block;
	text-align:center;
	background:#fff;
}
.gb-main-wrap .main-menu-left-item a img{
	display:block;
	width:80%;
	margin:0 auto;

}
.gb-main-wrap .main-menu-left-item-top{
	border-bottom: 1px solid #d8d8d8;
	width:95%;
		white-space: nowrap;
	overflow: hidden;
	text-overflow:ellipsis;
	margin: 0 auto;

}
.gb-main-wrap .main-menu-left-item-top span{
	white-space: nowrap;
	overflow: hidden;
	text-overflow:ellipsis;
}
.gb-main-wrap .main-menu-left-item-bottom span{
	white-space: nowrap;
	overflow: hidden;
	text-overflow:ellipsis;
}
.gb-main-wrap .main-menu-left-item-bottom{

	width:95%;
	margin: 0 auto;
}

.gb-main-wrap .menu-item-title{
	line-height: 60px;
	display: block;
	float: left;
	width:50%;
}

.gb-main-wrap .menu-item-time{
	height:60px;
	float: right;
	width:50%;
}

.gb-main-wrap .menu-item-time img{
	float: left;
	margin-top:19.5px;
	margin-right:5px;

}
.gb-main-wrap .menu-item-time p{
	float: left;
	line-height: 60px;
}

.gb-main-wrap .main-menu-left-item span{
	font-size: 1.6rem;
}
.gb-main-wrap .menu-item-time .menu-item-days{
	color:#ff0000;
	line-height: 60px;
	font-size: 1.8rem;
	font-weight: bold;
	margin:0 2px;
	text-align: center;
}
.gb-main-wrap .menu-item-time span{
	float: left;
	line-height: 60px;
	color: #656565;
	font-size: 1.4rem;

}
.gb-main-wrap .menu-item-time .menu-item-count{
	color:#ff0000;
	line-height: 60px;
		font-size: 1.8rem;
	font-weight: bold;
		width:41%;
}
.gb-main-wrap .main-menu-left-item-bottom{

}

.gb-main-wrap .main-menu-left-item-bottom .menu-item-money{
	line-height: 67px;
	font-size: 2.4rem;
	color:#ff0000;
}

.gb-main-wrap .main-menu-left-item-bottom .menu-item-buy{
	float:right;
	line-height: 67px;
	font-size: 1.4rem;
	width:30%;
}

.gb-main-wrap .main-menu-left-item-bottom .button{
	float: right;
	text-align: center;
	line-height:30px;
	background: #f61d4a;
	color:#fff;
	width: 25%;
	margin-top:18.5px;
	margin-left:1%;
		font-size: 1.6rem;
}
.gb-main-wrap .main-menu-right{
	width:35.11%;
	float: left;
}
.gb-main-wrap .main-menu-right-top{
	width:100%;
		margin-bottom:20px;
}

.gb-main-wrap .main-menu-right-top img{
	width:100%;
}

.gb-main-wrap .main-menu-right-bottom{
	position:relative;
	width:100%;
	/*top:75px;*/
	z-index: 8;
}

.gb-main-wrap .menu-right-bottom-title{
	width:100%;
	position:absolute;
	z-index:2;
	top:0;
	
}
/*.menu-right-bottom-title ul {
	width: 100%;
}*/
.gb-main-wrap .menu-right-bottom-title li{
	float:left;

	text-align: center;
	background: #f5f5f5;
	line-height: 28px;
	/*border-top:1px solid #f5f5f5;*/
	/*border-left:1px solid #f5f5f5;*/
	/*border-right:1px solid #f5f5f5;*/
	    border-top: 2px solid #f5f5f5;
	width: 33.33%;
}
.gb-main-wrap .menu-right-bottom-title li:last-child {
	width: 33.34%;
}
.gb-main-wrap .menu-right-bottom-title li.selected{
	color:#ff0000;
	background: #fff;
	/*border-top:1px solid #ff0000;
	border-left:1px solid #cbcbcb;
		border-right:1px solid #cbcbcb;*/
		/*border-top:2px solid #ff0000;*/
		border-color: #ff0000;
		/*margin-top: -1px;*/
}
.gb-main-wrap .menu-right-bottom-con {
	border: 1px solid #f5f5f5;
	border-top: none;
}
.gb-main-wrap .menu-right-bottom-con .mod{
	margin-top:59px;
	/*background: #fff;*/
}


.gb-main-wrap .menu-right-bottom-con .mod li{
	float:left;
	margin-top:5px;
	width:49.5%;
	background:#fff;

}
.gb-main-wrap .menu-right-bottom-con .mod li:first-child,
.gb-main-wrap .menu-right-bottom-con .mod li:nth-child(2) {
	margin-top: 0;
}
.gb-main-wrap .menu-right-bottom-con .mod li:nth-child(2n+1){
	margin-right: 1%;
}
.gb-main-wrap .menu-right-bottom-con .mod li img{
	width:100%;
}
.gb-main-wrap .menu-right-bottom-con .mod li span{
	white-space: nowrap;
	overflow: hidden;
	text-overflow:ellipsis;
	display: block;
	float: left;
}
.gb-main-wrap .menu-right-bottom-con .mod li .menu-item-bottom-title{
	width:65%;

	}
.gb-main-wrap .menu-right-bottom-con .mod li .menu-item-bottom-money{
	color:#ff0000;
	font-weight: bold;
}
.gb-small-main-menu{
	width:94.4%;
display: none;
	margin:0 auto 100px auto;

}
.gb-small-main-menu span{
		white-space: nowrap;
	overflow: hidden;
	text-overflow:ellipsis;
		font-size: 2rem;
	
}
.gb-small-main-menu-item{
	width:49%;
	float: left;
	border: 1px solid #d8d8d8;
	margin-bottom:10px;
}
.gb-small-menu-item-img{
	width:100%;
	border-bottom: 1px solid #d8d8d8;
}
.gb-small-menu-item-top{
		border-bottom: 1px solid #d8d8d8;
	width:90%;

	margin: 0 auto;

}
.gb-small-menu-item-title{
		line-height:50px;
	display: block;
	float: left;
	width:50%;
		color: #666;

}
.gb-small-menu-item-money{
			line-height:50px;
	display: block;
	float: right;

	
}
.gb-small-menu-item-money{
	color: #666;
}
.gb-small-menu-num{
	color:#ff0000;
}
.gb-small-menu-item-bottom{

	width:90%;

	margin: 0 auto;

}
.gb-small-menu-item-time{
	float: left;
	font-size: 2rem;
	color: #666;
	line-height: 50px;
}
.gb-small-menu-item-time span{
	color: #666;
	line-height: 50px;
}

.gb-small-menu-item-time .gb-small-menu-item-days{
	color: #ff0000;
}

.gb-small-menu-item-time .gb-small-menu-item-count{
	color: #ff0000;
}
.gb-small-menu-item-bottom .button{
	float: right;
	font-size: 2rem;
	background: #f61d4a;
	color: #fff;
	width:60px;
	text-align: center;
	margin-top:12px;
}
/*  footer  */
	.gb-footer{
		padding-top: 15px;
		overflow: hidden;
	}
	.footer-top{
		overflow: hidden;
		width: 97.11%;
		margin: 0 auto;
	}
	.gb-wechat{
		float: left;
		width: 12.5%;
		text-align: center;
		margin-left: 4.5%;
	}
	.gb-wechat img{
		width: 94.66%;
	}
	.gb-wechat p{
		font-size: 1.8rem;
		color: #535353;
		margin-top: 20px;
	}
	.gb-title{
		float: left;
		width: 79%;
		margin-left: 4%;
	}
	.wrap{
		width: 20%;
		overflow: hidden;
		float: left;
		white-space: nowrap;
	}
	.title-image{
		height: 38px;
		float: left;
	}
	dl{
		float: left;
		margin-left: 5%;
		width: 110px;
	}
	dl dt span{
		height: 38px;
		line-height: 38px;
		color: #353535;
		font-size: 2rem;
	}
	dl dd ul{
		list-style: none;
		counter-reset: count;
	}
	dl dd ul li{
		line-height: 25px;
	}
	dl dd ul li:before{
		content: ".";
		color: #707070;
	}
	dl dd ul li a{
		color: #494949;
		font-size: 1.4rem;
		margin-left: 8px;
	}
	.footer-middle{
		overflow: hidden;
		border-top: 1px solid #d2d2d2;
		margin-top: 30px;
	}
	.accenture-digital-logo{
		float: left;
		margin-left: 5%;
		line-height: 115px;
		width: 15.57%;
	}
	.accenture-digital-logo img{
		/*padding-top: 40px;*/
		width: 100%;
		vertical-align: middle;
	}
	.service{
		float: left;
		height: 115px;
		margin-left: 7%;
		width: 72%;
	}
	.service ul{
		overflow: hidden;
	}
	.service ul li{
		float: left;
		list-style: none;
		height: 115px;
		width: 25%;
	}
	.service-content{
		overflow: hidden;

	}
	.service-content img{
		padding-top: 25px;
		float: left;
		/*vertical-align: middle;*/
		width: 28.83%;

	}
	.service-content-text{
		float: left;
		margin-left: 5%;
	}
	.service-content-text h2{
		margin-top: 34px;
		color: #6c6c6c;
		font-size: 1.9rem;
	}
	.service-content-text span{
		font-size: 1.6rem;
		color: #989898;
	}
	.footer-bottom{
		width: 100%;
		height: 70px;
		line-height: 70px;
		background-color: #43403b;
		text-align: center;
		font-size: 1.7rem;
		color: #fff;
	}
	/*  footer small*/
.special-small-footer {
    width: 100%;
    /*padding-top: 3rem;*/
    position: relative;
    margin-top: -18px;
    position: fixed;
    bottom: 0;
    display: none;
}

.special-small-footer .small-footer-ul{
    overflow: hidden;
    border-top: 0.2rem solid #ccc;
    background-color: #eee;
}
.special-small-footer .small-footer-ul .small-footer-li{
    width: 23%;
    float: left;
    height: 7.8rem;
    line-height: 7.8rem;
    text-align: center;
    font-size: 2.5rem;
    /*color: #515151;*/
    cursor: pointer;
   
}
.special-small-footer .small-footer-ul .small-footer-li:last-child {
     position: relative;
}
.special-small-footer .small-footer-ul .small-footer-li a{
    color: #515151;
}
.special-small-footer .small-footer-ul .small-footer-li:first-child a{
    color: #fb5353;
}
.special-small-footer .small-footer-ul .small-footer-li:last-child{
    width: 31%;
    position: relative;
}
.small-footer-circle{
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    background-color: red;
    font-size: 1.4rem;
    line-height: 2rem;
    position: absolute;
    top: 1.3rem;
    /*right: 19%;*/
    border: none;
    color: white;
}
.small-footer-classification{
    width: 100%;
    z-index: 5;
    position: absolute;
    right: 0;
    bottom: 8rem;
    background-color: white;
    display: none;
}
.small-footer-classli{
    height: 4.8rem;
    line-height: 4.8rem;
    text-align: center;
    border-top: 0.1rem solid #ccc;
}
.small-footer-classli a{
    font-size: 1.6rem;
    color: #666;
}
 @media screen and (max-width: 719px){

    .header-wrapper {
        display: none;
    }
    .gb-banner-title{
    	        display: none;

    }
    .banner-right{
    	display: none;
    }
    .gb-banner .banner-left{
    	width:100%;

    }
    .gb-banner .main_visual{
    	height:340px;
    }
    .gb-banner .main_image{
    	height:340px;
    }
      .gb-banner .main_image li{
    	height:340px;
    }
            .gb-banner .main_image li a{
    	height:340px;
    }
    .gb-banner .banner-left{
    	height:270px;
    }
    .gb-banner .banner-left .flicking_con{
    	display: none;
    }

    .gb-banner{
    	margin-top:0;
    	width:100%;
    }
    .header-wrapper-small {
        display: block;
    }
   .gb-banner .main_visual .flicking_spot{
   		display: block;
   }
   .gb-banner .banner-bottom{
   	display: block;
   }
   .main-header-nav-search{
   	display: none;
   }
   .gb-main-wrap{
   	margin-top: 30px;
   	width: 100%;
   }
   .main-title{
   	font-size: 2.6rem;

   }
   .main-subtitle{
   	font-size: 2rem;
   	line-height: 50px;
   }
   .main-header-nav-time{
   	font-size: 2rem;
   	margin-left: 3%;
   }
   .main-header-nav-order{
   	font-size: 2rem;
   	float: right;
   }
   .main-menu{
   	display: none;
   }
   .gb-footer{
   	display: none;
   }

       .special-small-footer {
        display: block;
    }
    .gb-small-main-menu{
    	display: block;
    }
}