/*
## Header 
********************************************************************/


#header .siteLogo{
	padding:20px 0;
}

#header .headerContent{
	float:right;
}

#header .headerContent.secondRow{
	clear: both;
	margin:5px 0 0 0;
}

#header .headerContent .nav{
	height:21px;
	line-height:1.667em;
	color:#484848;
	margin:25px 0 0 0;
}

#header .headerContent .nav > li{
	float:left;
	border-left:1px solid #000;
	padding: 0 6px;
	display:block;

}
	

#header .headerContent .nav > li:first-child {
	border:0;
	padding-left:0;
}


#header .headerContent .nav > li > a{
	display:block;
}


#header .headerContent .nav > li.miniCart > a{
	text-transform:lowercase; /*  temp */
}




#header .headerContent.secondRow .yCmsComponent{
	float: left;
}

#header .headerContent.secondRow .yCmsComponent + .yCmsComponent{
	margin:0 0 0 10px;
}





.languagecurrencycomponent{
	margin: 0 10px;
	display: none;   /* original:inline-block */
}

.languagecurrencycomponent li{
	float:left;
	height:30px;
}

.languagecurrencycomponent li + li{
	margin:0 0 0 10px;
}



/*y*/
#header .siteLogo {
	float:left;
	width: 20%;  /*wangkena  12/23*/
}
#header .siteLogo img {
	width: 100%;   /*wangkena  12/23*/
	min-width:175px;    /*wangkena  12/22*/
}
#header .headerContent.secondRow {
	float: left;
    width: 23%;/* m 1/12 */
    margin-left:6%; /*  y 12.10  miao 1.12*/
    margin-top: 26px;
    clear:none;

}
#header .headerContent .nav {
	float:right;
}

#header .headerContent {
	float: left;
}
#header .header-list {
	float: right;
}
#header .header-list {
	margin: 15px 0;
}

.siteSearch .siteSearchSubmit {
	background-color: #fd8d24 !important;
}

.miniCart > a .count {
	background:none;
}
#header .headerContent.secondRow .yCmsComponent {
	width: 98%;
}
#header .headerContent.secondRow .header-language{
	width:8%;
	position:absolute;
	right: 260px;    /*wangkena  12/10*/
	top:26px;
	min-width: 50px;
	display: none;  /* y 12.21 */
}
#header .control-group select {
	min-width: 50px;
}
#header {
	position: relative;
}
#header .siteSearchInput {
	
}

/*12.8.1*/
/*#header .headerContent .nav > li:first-child {
	position:absolute;
	top:50px;
	width:80px;
	padding:10px;
	background:#fff;
	border: 1px solid #ddd;
	display: none;
}*/
#header .headerContent .nav .mycount {
	position: relative;
}
#header .headerContent .nav .mycount span {
	display: none;
	position: absolute;
	/*top:0;*/
	left:-20px;
	/*display: inline-block;*/
	width: 100px;
	border: 1px solid #ddd;
	text-align: center;
	background: #fff;
	padding: 10px;
	font-size: 14px;
	z-index: 120;
}
#header .headerContent .nav .mycount:hover span{
	display: block;
}
a:hover {
	color:#fd8d24;
}
#header .headerContent .nav > li > a {
	font-size: 14px;
}
@media screen and (max-width: 900px) {
	#header .headerContent .nav > li > a {
		font-size:12px;
	}
}
#header .headerContent .nav > li {
	border-left: 1px solid #E1E1E1;
	/*padding:0 10px;*/   /*wangkena  12/22*/
}   
#header .miniCart > a .count {
	background:none;
	color: #666;
	margin: 0;
	font-size: 14px;
}
#header .miniCart > a .count:hover {
	color:#fd8d24;
}
#header .control-group select {
	height:25px;
	line-height: 25px;
	min-height: 0;
	padding:0;
	text-align: center;
	margin-top: 3px;
}
#header .siteSearchInput {
	height:34px;
}
#header .siteSearchInput,#header .siteSearchInput:hover {
	border: 1px solid #E0DDDE;
	border-radius: 2px;
}
#header .siteSearch .siteSearchSubmit {
	height: 34px;
	width:45px;
	position: absolute;
	top:-1px;
	right: 0;
	border-radius:0;    /*wangkena*/
	background-image: none;
    color: #fff;
    font-size: 16px;
    width: 15%;
}
#header .controls {
	position: relative;
	overflow: hidden;
}
#header {
	margin-bottom: 77px;  /*wangkena  12/10*/
}

#header .siteLogo {   /*  y 12.10 */
	margin-left:3%;
}


#header .search-suggest {
	position: relative;
    top: 0;
    float: left;
    width: 100%;
}
#header .headerContent.secondRow .search-suggest ul li {
	float: left;
    margin: 0px 1%;
    width: auto;
}

@media screen and (max-width:1030px){
	#header .headerContent .nav > li > a {
	font-size:12px;
	}
}