* {
	margin: 0;
	padding: 0;
	text-decoration: none;
	list-style: none;
	font-family: "Microsoft YaHei" !important;
}
/*asdfaa*/
html {
	font-size: 62.5% !important;
}
body {
	margin: 0;
	padding: 0;
	font-family: "Microsoft YaHei";
	background: rgb(245,245,245);
}
img {
	border: none;
}
a,a:hover {
	text-decoration: none;
/* 	color: #afafaf; */
}
.clearfix:before, .clearfix:after {
	content: " ";
	display: table;
}
.clearfix:after {
	clear: both;
}
/*  猫掳茠  */
#page {
	min-width: 0 !important;
}


/* 盲赂禄茅隆碌氓陇麓茅茠篓 */
.header-wrapper {
	width: 100%;
	display: block;
}
@media screen and (max-width: 710px){
	.header-wrapper {
		display: none;
	}
}
.header {
	width: 97.11%;
	height:97px;
	margin: 0 auto;
}

.header .logo {
	float: left;
	width: 20.6%;
	margin-left: 3%;
	line-height: 97px;
}
.header .logo img {
	width: 100%;
	vertical-align: middle;
}

.header .search {
	float: left;
	width: 27.8%;
	margin-left: 8%;
	margin-top: 26px;
}
.header .search .searchInput {
	float: left;
	width: 81.8%;
	height: 30px;
	padding-left: 2%;
	border: 1px solid #e0ddde;
	outline: medium none;
}
.header .search .searchBtn {
	float: left;
	width: 15%;
	height: 32px;
	color: #fff;
	background: #fd8d24;
	text-align: center;
	cursor: pointer;
	outline: medium none;
	border: none;
	font-size: 1.6rem;
}
.header .search .search-item {
	float: left;
	width: 100%;
}
.header .search .search-item a {
	color: #676767;
	margin: 0 1%;
	font-size: 1.2rem;
	line-height: 24px;
}

.header .nav-right {
	float: left;
	width: 28.6%;
	margin-left: 12%;
	margin-top: 39px;
	font-size: 1.4rem;
}
.header .nav-right a {
	float: left;
	display: block;
	color: #666666;
}
.header .nav-right a:hover {
	color: #fd8d24;
}
.header .nav-right span {
	float: left;
	display: inline-block;
	color: #e1e1e1;
	margin: 0 2%;
}


/* 氓掳锟矫ヂ憋拷氓陇麓茅茠篓 */
.js{
	display: none;
}
@media screen and (max-width: 719px){
	.js{
		display: block;
	}
}
.header-small{
	width: 100%;
    height: 67px;   /*wangkena  12/23*/
    line-height: 67px;    /*wangkena  12/23*/
    margin: 0 auto; 
    display: block;
    background-color: #000;
    position: relative;
	display: none;
}
@media screen and (max-width: 719px) {
	.header-small {
		display: block;
	}
}
.header-small .header-left{      /*wangkena  12/23*/
	width: 34px;
    height: 22px;
    float: left;
    padding-left: 2.78%;
    padding-top: 23px;
    padding-bottom: 20px;
}
.js .header-left-js{
	float: left;
	width: 63.33%;
	display: none;
}

.header-small .menu1{
	float: right;
	height: 20rem;
	width: 36.7%;
	background: #000;
	opacity: 0.3;
	z-index: 10;
}

.js .header-left-js .menu{
	width: 63.33%;
	height: 67px;
	line-height: 67px;
	background: rgb(102,102,102);
	font-size: 2rem;
	color: #fff;
	position: absolute;
	top:0;
	left:0;
	z-index:100000;
	/*padding-left: 24%;*/
	/*padding-top: 4.2%;*/
	text-align: center;
}

.js .header-left-js .menu-buttom{
	width: 63.33%;
	background-color: #fff;
	font-size: 1.8rem;
	color: rgb(102,102,102);
	position: absolute;
	top:67px;
	left:0;
	z-index:100000;
	height: 100%;
}
.js .header-left-js .menu-buttom a {
	color: rgb(102,102,102);
}
.js .header-left-js .menu-buttom ul{
	/*padding-top: 2rem;*/
	padding-left: 6.57%;
}
.js .header-left-js .menu-buttom li{
	line-height: 4.7rem;
	height: 4.7rem;
	border-bottom: 0.1rem solid #eee;
}
.js .js-none{
	float: right;
	width: 36.7%;
	height: 100%;
	background:#000;
	opacity: 0.6;
	display: block;
	z-index: 10;
	position: absolute;
	right: 0;
	top: 0;

}
.js .js-none .x{
	float: left;
	padding-left: 6%;
	padding-top: 6%;
	width: 5.5rem;
	height: 5.4rem;
}
.header-small .search{    /*wangkena  12/23*/
	float: left;
    width: 59.5%;
    padding-top: 3px;
    margin-left: 10%;
    position: relative;
}
.header-small .search-input{    /*wangkena  12/23*/
	float: left;  
    width: 87%;
    height: 47px;
    background-color: rgb(27,27,27);
    padding-left: 2%;
    font-size: 16px;
    border: none;
    border-radius: 1rem;
    display: block;
    color: #fff;
    margin: 0.5em 0;
}
.header-small .search button{    /*wangkena  12/23*/
	float: right;
    text-align: center;
    border: none;
    cursor: pointer;
    color: #fff;
    position: absolute;
    right: 14%;
    top: 18px;
    background-color: rgb(27,27,27);
    font-size: 3rem;
    margin: 0;
    height: auto;
}

.header-small #showtext {    /*wangkena  12/23*/
	float: right;
    margin-right: 3%;
    padding-top: 30px;
    padding-bottom: 25px;
}
/*.header-small .right-down{
	float: right;
	width: 19.2rem;
}*/
.header-small .header-right{   /*wangkena  12/23*/
	width: 35px;
    display: block;
}


.header-small .none{
	float: right;
	/*width: 16rem;*/
	/*height: 5.4rem;*/
	background: url(../images/3456.jpg);
	position: absolute;
	top:67px;
	right:0;
	display: none;
	z-index:100;
    background:rgb(244,244,244); 
	border-radius:8px;
}
.header-small .none  a{
	font-size: 1.8rem;
	color:#4b4b4b;s
}
.header-small .none .p1{
	padding-left: 2.4rem;
	padding-top: 3.1rem;
	display:none;
}
.header-small .none .p2{
	padding-left: 2.4rem;
	padding-top: 2.2rem;
	display:none;
}
.header-small .none .p3{
	padding: 13px 15px;
    line-height: 23px;
    color: #4b4b4b;
    text-align: center;
    min-width: 100px;
}


/*  氓掳锟矫ヂ憋拷氓陇麓茅茠篓莽禄鈥�?︼拷鸥  */

#content  {
	width: 97% !important;
    margin-left:0;
	margin-bottom: 80px; 
	overflow: hidden;  /*wangkena  12/23*/
}
.banner-title {
	width: 100%;
	padding-left: 1%;
	/*float: left;*/
	background: #000000;
	font-size: 1.6rem;
	top: 0;
	z-index: 10;
	display: block;
	clear: both;
}
@media screen and (max-width: 719px) {
	.banner-title {
		display: none;
	}
} 
.banner-title .title-ul .title-item {
	float: left;
	padding: 0 1.5%;
	position: relative;
	max-width: 10%;
	
}
.banner-title .title-ul .title-item-addclick {
	display: none;
}
.banner-title .title-item-add {
	height: 55px;
	display: none;
	float: left;
	width: 100px;
}
.banner-title .title-ul .title-item-first {
	min-width: 87.5px !important;
}
.banner-title .title-ul .title-item .dropBtn {
	position: absolute;
	width: 0;
	height: 0;
	border-color: #fff rgba(255,255,255,0) rgba(255,255,255,0);
	border-style: solid;
	border-width: 7px 7px 0;
	overflow: hidden;
	top: 45%;
	right: 0% !important;
	cursor: pointer;
	transition: all 0.3s ease-in 0s;
	display:none;
}
.banner-title .title-ul .title-item:hover .dropBtn {
	transform: rotate(180deg);
}
.banner-title .title-ul .title-item:hover {
	background: #1e90df;
}
.banner-title .title-ul .title-item:hover .dropmenu {
	display: block;
}
.banner-title .title-ul .title-item .title-items {
	display: block;
	line-height: 55px;
	color: #ffffff;
	text-align: center;
	width: 100%;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}
/*氓鈥β┢�?�モ�⑩�犆モ��?拷氓藛鈥犆甭幻�?�糕�姑︹�光�懊拷艙氓锟解��*/
.banner-title .title-ul .title-item .dropmenu {
	display: none;
	width: 100%;
	min-width: 110px;
	height: 450px;
	background: rgba(63,78,68,0.6);
	position: absolute;
	top: 55px;
	left: 0;
	z-index: 3;
	font-size: 1.4rem;
}
.dropmenu ul li {
	width: 100%;
	height: 60px;
	border-bottom: 1px solid rgba(255,255,255,0.2);
	position: inherit !important;
}
.dropmenu ul li:hover .dropmenu-right-wrapper {
	display: block;
}
.dropmenu ul li .cameraIcon {
	float: left;
	color: #fff;
	font-size: 2rem;
	display: block;
	line-height: 60px;
	text-align: center;
	margin: 0 8%;
}
.dropmenu ul li a {
	line-height: 60px;
	display: block;
	color: #ffffff;
	white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.dropmenu ul li .dropmenu-right-wrapper {
	display: none;
	position: absolute;
	left: 100%;
	top: 0 !important;
	width: 521.5% !important;
	min-width: 585px;
	height: 450px;
	background: #fcfcfc;
}

.dropmenu-right-wrapper .dropmenu-right-btn {
	position: absolute;
	left: -15px;
	top: 20px;
	border: 8px solid rgba(255,255,255,0);
	border-right-color: rgb(255,255,255);
}

.dropmenu-right-wrapper .dropmenu-right {
	width: 93.44%;
	height: 100%;
	margin: 0 auto;
	color: #666666;
}
.dropmenu-right .title {
	width: 100%;
	font-size: 1.4rem;
	border-bottom: 1px dotted #cccccc;
	line-height: 53px;
}
.dropmenu-right .camera-items {
	width: 94%;
}
.dropmenu-right .camera-items .camera-item, .dropmenu-right .camera-items .divide-line {
	float: left;
	color: #666666; 
	line-height: 34px;
	font-size: 1.2rem;
}
.dropmenu-right .camera-items .camera-item:hover {
	color: #fd8d24;
}
.dropmenu-right .camera-items .divide-line {
	margin: 0 1.8%;
}

.dropmenu-right .bottom {
	width: 100%;
	margin-top: 7.5%;
}
.dropmenu-right .bottom .descr {
	width: 50%;
	margin-top: 10%;
	float: left;
}
.dropmenu-right .bottom .descr1 {
	display: inline-block;
	color: #0d0d0d;
	font-size: 3rem;
}
.dropmenu-right .bottom .descr2 {
	display: inline-block;
	color: #0c0c0c;
	font-size: 2rem;
}
.dropmenu-right .bottom .img {
	width: 50%;
	float: left;
}
.dropmenu-right .bottom .img img {
	width: 100%;
}

/*  猫陆�?忙鈥櫬モ��?�  */
.main_visual{
	height:495px;
	overflow:hidden;
	position:relative;
	margin-bottom: 30px;
}
.main_image {
	height:450px;
	overflow:hidden;
	position:relative;
}
.main_image ul{
	width:9999px;
	height:450px;
	overflow:hidden;
	position:absolute;
	top:0;
	left:0
}
.main_image li{
	float:left;
	height:450px;
}
.main_image li a{
	display:block;
	width:100%;
	height:450px;
}
@media screen and (max-width: 719px){
	.main_visual ,.main_image, .main_image ul, .main_image li, .main_image li a {
		height: 360px;
	}
}
.main_image li img {
	width: 100%;
	height: 100%;
}
.main_visual .flicking_con {
	position: absolute;
	width: 100%;
    height: 45px;
    background: #efefef;
    left: 0;
    margin-left: 0;
    z-index: 5;
    bottom: 0;
    text-align: center;
}
@media screen and (max-width: 719px) {
	.main_visual .flicking_con {
		background: none;
	}
}
.main_visual .flicking_con span {
	cursor: pointer;
    width: 15px;
    height: 15px;
    border-radius: 15px;
    margin-top: 15px;
    background: #fff;
    display: inline-block;
    margin-left: 7px;
}
.main_visual .flicking_con .on {
	background: #fd8d24;
}


/*  猫锟脚�?ワ拷鈥�  */
.index-right-menu {
	position: fixed;
	right: 0;
	bottom: 155px;
	z-index: 10;
	width: 50px;
	min-width: 40px;
	display: block;
}
@media screen and (max-width: 719px){
	.index-right-menu {
		display: none;
	}
}
.index-right-menu .menu-list {
	position: relative;
}
.index-right-menu li {
	/*width: 68px;
	height: 68px;*/
	width: 100%;	
}
.index-right-menu li a {
	display: block;
	width: 100%;
	height: 100%;
}
.menu-list li img {
	width: 100%;
	display: block;
}


/*猫麓颅莽鈥奥┟铰γヂ�?�疵┢�?��*/

#trolley-box{
	width: 310px;
	height: 275px;
	position: absolute;
	background: #fff;
	right: 50px;
	z-index: 10;
	top: 0;
	display: none;
	/*background: red;*/
}

.trolley-box-trangle {
	position: absolute;
	right: -15px;
	top: 90px;
	border: 8px solid rgba(255,255,255,0);
	border-left-color: rgb(255,255,255); 
}
/*.menu-item-mid:hover #trolley-box{
	display: block;
	}*/
	#trolley-area{
		width: 90%;
		margin:0 auto;
		overflow:hidden;
	}
	#trolley-head{
		width: 100%;
		float: left;
		border-bottom: 3px solid #000;
	}
	#trolley-head-word{
		width: 92%;
		float: left;
		color: rgb(128,128,128);
		line-height: 37px;
		font-size: 1.6rem;
	}
	#trolley-head-word span{
		color: red;
	}
	#trolley-head-close{
		width: 8%;
		float: left;
		color: rgb(203,203,203);
		/*font-size: 180%;*/
		line-height: 30px;
		text-align: center;
		cursor: pointer;
		font-size: 2rem;
	}

	/*猫麓颅莽鈥奥┟铰γр�奥┟モ��?拷*/

	#trolley-goods{
		width: 85%;
		margin:0 auto;
		overflow: hidden;
		float: left;
	}
	#trolley-goods-up {
		width: 100%;
		float: left;
		line-height: 25px;
		font-size: 1.4rem;
	}
	#trolley-goods-down{
		width: 100%;
		float: left;
		font-size: 1.4rem;
	}
	#trolley-goods-shop{
		width: 80%;
		float: left;
	}
	#trolley-goods-price{
		width: 20%;
		float: left;
		color: rgb(177,177,177);
	}
	#trolley-goods-pic{
		width: 60%;
		float: left;
		overflow: hidden;
		height: 60px;
		font-size: 1.4rem;
	}
	#trolley-goods-pic .pic-checkbox{
		line-height: 60px;
		width: 15%;
		float: left;
	}
	#trolley-goods-pic .pic-img{
		width: 37%;
		float: left;
		padding-top: 5px;
	}
	#trolley-goods-pic .pic-word{
		width: 48%;
		float: left;
	}
	#trolley-goods-pic .pic-word p{
		margin:15px 0 ;
		font-size: 1.2rem;
		color: rgb(153,153,153);
		margin-left: 5px;
	}
	#trolley-goods-num{
		width: 22%;
		float: left;
		text-align: center;
		line-height: 60px;
		color: rgb(153,153,153);
	}
	#trolley-goods-down #trolley-goods-price{
		width: 18%;
		float: left;
		line-height: 60px;
		color: rgb(102,102,102);
	}
	#trolley-separate{
		width: 100%;
		float: left;
		height: 5px;
		background-color: rgb(238,238,238);
	}
	#trolley-goods-pic .pic-img , #trolley-goods-pic .pic-word,#trolley-goods-num,#trolley-goods-down #trolley-goods-price{
		border-top: 1px solid rgb(238,238,238)
	}
	#trolley-bottom{
		width: 100%;
		float: left;
		height: 35px;
		background-color: rgb(238,238,238);
		font-size: 1.2rem;
	}
	#trolley-chooseall{
		width: 70%;
		float: left;
		line-height: 35px;
		color: rgb(160,160,160);
	}
	#trolley-checkall{
		width: 30%;
		float: left;
		line-height: 35px;
		text-align: center;
		cursor: pointer;
		color: rgb(160,160,160);
	}

	/*  莽茠颅茅鈥斅ε铰拷锟�  */
	.index-recommend {
		width: 97.11%;
		margin: 0 auto;
		margin-bottom: 25px;
		margin-top: 25px;
		display: block;
	}
	@media screen and (max-width: 719px) {
		.index-recommend {
			display: none;
		}
	}
	.index-recommend .recommend-top {
		text-align: center;
		margin-bottom: 30px;
	}
	.index-recommend .recommend-top h2 {
		font-size: 3.2rem;
		font-weight: normal;
		color: rgb(76,76,76);
	}
	.index-recommend .recommend-top p {
		font-size: 2.4rem;
		margin-top: 5px;
		color: rgb(183,183,183);
		background: none;
	}
	.index-recommend .recommend-main {
		width: 100%;
		overflow: hidden;
	}
	.recommend-main .recommend-item {
		width: 32.13%;
		float: left;
		margin-right: 1.8%;
		background: #fff;
		position: relative;
	}
	.recommend-main .recommend-item:last-child {
		margin-right: 0;
	}
	.recommend-main .reitem-img {
		width: 100%;
	}
	.recommend-main .reitem-img img {
		width: 100%;
		display: block;
	}
	.reitem-content {
		width: 100%;
		overflow: hidden;
		opacity: 1;
		filter: alpha(opacity: 100);
	}
	.reitem-content .reitem-contentL {
		width: 28.5%;
		min-width: 100px;
		float: left;
		overflow: hidden;
	}
	.reitem-content .reitem-contentL img {
		width: 100%;
		/*display: block;*/
		vertical-align: middle;
	}
	.reitem-content .reitem-contentR {
		margin-top: 3.56%;
		width: 29.2%;
		float: right;
		text-align: right;
		margin-right: 4%;
		min-width: 110px;
		margin-bottom: 5px;
	}
	.reitem-contentR .reitem-rightaway {
		color: rgb(246,30,71);
		font-size: 1.8rem;
		font-weight: bold;
		margin-bottom: 6%;
	}

	.reitem-contentR .reitem-line {
		height: 1px;
		width: 100%;
		float: right;
		border-bottom: 1px solid rgb(246,30,71);
	}
	.reitem-contentR .reitem-price {
		margin: 3.52% 0;
	}
	.reitem-contentR .reitem-nowprice {
		color: rgb(246,30,71);
		font-size: 2.4rem;
		font-weight: bold;
		margin-top: 2px;
		display: block;
	}
	.reitem-contentR .reitem-pricebefore {
		font-size: 1.4rem;
		text-decoration: line-through;
		color: rgb(102,102,102);
	}
	.reitem-content .reitem-contentfoot {
		width: 100%;
		background: rgb(238,238,238);
		overflow: hidden;
		font-size: 1.2rem;
		color: rgb(102,102,102);
	}
	.reitem-cont-left {
		float: left;
	}
	.reitem-cont-left p, .reitem-cont-left img {
		line-height: 28px;
		float:left;
	}
	.reitem-cont-right {
		line-height: 28px;
		float: right;
		text-align: right;
		margin-right: 5px;
	}
	.reitem-cont-right span {
		font-size: 1.4rem;
		color: rgb(255,93,2);
		margin-right: 3px;
		font-weight: bold;
	}

	/*  莽茠颅茅鈥斅ε铰拷锟�  hover忙鈥⑺喢ε�?�  */
	.recommend-item .recommend-hover {
		position: absolute;
		bottom: 0;
		width: 100%;
		background: rgba(0,0,0,0.4);
		filter: alpha(opacity: 0);
		opacity: 0;
		text-align: center;
		padding-top: 55px;
		padding-bottom: 32px;
		color: #fff;
		/*display: none;*/
	}
	.recommend-item .recommend-hover .recommend-hover-img {
		float: left;
		/*width: 10%;*/
		margin-left: 3%;
		/*width: 40px;*/
		font-size: 3.4rem;
		color: #fff;
		margin-top: 8px;
		margin-right: 3%;
	}
	.recommend-hover .recommend-hover-img img {
		width: 100%;
	}
	.recommend-item .recommend-hover .recommend-hover-mid {
		float: left;
		text-align: left;
		margin-left: 2%;
	}
	.recommend-hover .recommend-hover-mid .recommend-hover-time {
		font-size: 2.2rem;
		width: 140px;
		background: none !important;
	}
	.recommend-hover .recommend-hover-mid .recommend-hover-num {
		font-size: 1.4rem;
		background: none !important;
	}
	.recommend-item .recommend-hover .recommend-hover-right {
		float: right;
	}
	.recommend-hover .recommend-hover-right .recommend-hover-button {
		background: rgb(246,30,71);
		display: block;
		width: 90px;
		margin: 0 auto;
		padding: 6px 10px;
		font-size: 2.2rem;
		float: right;
		margin-right: 1rem;
	}
	.recommend-item:hover .recommend-hover{
		opacity: 1;
		filter: alpha(opacity: 100);
	}
	.recommend-item:hover .reitem-content{
		opacity: 0;
		filter: alpha(opacity: 0);
	}

	/* guchengqing*/
	.main-wrap{
		margin-bottom: 25px;
		color: #454545;
		overflow: hidden;
		display: block;
	}
	@media screen and (max-width: 719px) {
		.main-wrap {
			display: none;
		}
	}
	.main-header{
		width:100%;
	}

	.main-header-title{
		width:100%;
		border-bottom: 1px solid #cfcfcf;

	}

	.main-title{
		display: block;
		text-align: center;
		font-size: 3.2rem;
		color: rgb(76,76,76);
	}

	.main-subtitle{
		display:block;
		text-align: center;
		color: #aeaeae;
		font-size: 2.4rem;
		margin-top: 3px;
		margin-bottom: 20px;
	}
	.main-header-tab{
		width:100%;
		margin:0 auto;
	}

	.main-header-tab ul{
		float: left;
		width: 50%;
	}
	.main-header-tab li{
		border-top:3px solid rgb(245,245,245);
		float:left;
		/*width:21.35%;*/
		padding: 0 20px;
		text-align: center;
		line-height: 64px;
		font-size: 2.2rem;
	}

	.main-header-tab li a {
		text-decoration: none;
		color:#454545;
	}

	.main-header-tab .main-header-on {
		border-top:3px solid #1f90e0;
		line-height: 64px;
		color:#1f90e0;
	}
	.main-header-tab .main-header-on a{
		color:#1f90e0;
	} 
	.main-more{
		float:right;
	}
	.main-header-keyword{
		font-size: 1.8rem;
		line-height: 70px;

		color: #afafaf;

	}

	.main-header-more{
		font-size: 1.8rem;
		line-height: 70px;
		color:#fd8125;
		float:right;
		margin-left: 10px;

	}

	.main-menu{
		margin:0 auto;
		width:97.11%;
		overflow: hidden;
	}

	.main-left{
		width:18.694%;
		float:left;
		margin-right: 1.187%;
	}

	.main-left img{
		width:100%;
		height:100%;

	}

	.main-middle{
		width:58.309%;
		float:left;
	}
	.main-middle li{
		margin-right:1.79%;
		float:left;
		width:31.5%;
		background: #fff;
		text-align: center;
		transition:all  0.35s;
	}
	.main-middle span{
		display:block;
		white-space: nowrap;
		overflow:hidden;
		text-overflow:ellipsis;
	}
	.main-middle li:hover{
		box-shadow: 0px 5px 5px 2px #afafaf;
		transform:translate(0,-2px);
	}
	.main-middle-title{
		font-size: 1.4rem;
		text-align: center;
		display: block;
		background: #fff;
		line-height: 24px;
		font-weight: bold;
		color: #433528;
	}

	.main-middle-subtitle{
		font-size: 1.2rem;
		text-align: center;
		display: block;
		background: #fff;
		color: #b2b1af;
	}
	.main-middle-price{
		font-size: 1.3rem;
		text-align: center;
		display: block;
		background: #fff;
		line-height: 40px;
		color: #fe5a1d;
		font-weight: bold;
		margin-bottom:27px;
	}
	/*.main-middle .main-middle-last1{
		margin-right: 0px;
		margin-bottom: 15px;
	}*/
	.main-middle .main-middle-last2{
		margin-right: 0px;
	}
	.main-middle img{
		width:100%;

	}

	.main-right{
		width:20.623%;
		/*margin-left	: 1.187%;*/
		float: left;
	}

	.main-right img{
		width:100%;
	}
	.main-middle-show {
		display: none;
	}
	.main-middle-on {
		display: block;
	}
	.main-middle-top{
		margin-bottom: 15px;

	}
	.main-right-top{
		overflow: hidden;
		position: relative;
		transition:all  0.35s;
		background-color: #fff;
	}
	.main-right-bottom{
		overflow: hidden;
		position: relative;
		transition:all  0.35s;
		background-color: #fff;
	}
	.main-right-top-title{
		font-size: 1.8rem;
		font-weight: bold;
		display: block;
		text-align: center;
		background: #fff;
		padding-top:50px;
		overflow: hidden;
    	white-space: nowrap;
    	text-overflow: ellipsis;
	}

	.main-right-top-subtitle{
		font-size: 1.6rem;
		color: #afafaf;
		font-weight: bold;
		display: block;
		text-align: center;
		background: #fff;
		overflow: hidden;
    	white-space: nowrap;
    	text-overflow: ellipsis;
	}

	.main-right-bottom-title{
		font-size: 1.8rem;
		font-weight: bold;
		display: block;
		text-align: center;
		background: #fff;
		padding-top:50px;
		overflow: hidden;
    	white-space: nowrap;
    	text-overflow: ellipsis;

	}

	.main-right-bottom-subtitle{
		font-size: 1.6rem;
		color: #afafaf;
		font-weight: bold;
		display: block;
		text-align: center;
		background: #fff;
		overflow: hidden;
    	white-space: nowrap;
    	text-overflow: ellipsis;
	}

	.main-middle-currentprice{
		font-size: 1.3rem;
		text-align: center;
		float: center;
		background: #fff;
		color: #fe5a1d;
		font-weight: bold;
	}
	.main-middle-costprice{
		font-size: 1.3rem;
		text-align: center;
		text-decoration: line-through;
		background: #fff;
		color: #b2b1af;
		font-weight: bold;
	}

	.main-middle-comment{
		font-size: 1.2rem;
		text-align: center;
		display: block;
		background: #fff;
		line-height: 40px;
		color: #b2b1af;
		font-weight: bold;
		margin-bottom:27px;
	}

	.main-right-top:hover{
		box-shadow: 0px 5px 5px 2px #afafaf;
		transform:translate(0,-2px);

	}

	.main-right-bottom:hover{
		box-shadow: 0px 5px 5px 2px #afafaf;
		transform:translate(0,-2px);

	}
	.main-right-top-hover{
		width:100%;
		height:100%;
		position: absolute;
		background: #1d90e1;
		top:0;
		opacity: 0;
	}

	.main-right-top-detail{
		position:absolute;
		top:30%;
		left:25%;
		background: #fff;

		width:50%;
		font-size: 24px;
		color: #1d90e1;
		text-align: center;
		border-radius: 100%;
		opacity:0;
		transition:all  0.35s;
	}

	.main-right-top:hover .main-right-top-hover{
		opacity: 0.3;
	}

	.main-right-top:hover .main-right-top-detail{
		opacity: 1;
	}

	.main-right-bottom-hover{
		width:100%;
		height:100%;
		position: absolute;
		background: #1d90e1;
		top:0;
		opacity: 00;

	}

	.main-right-bottom-detail{
		position:absolute;
		top:30%;
		left:25%;
		background: #fff;

		width:50%;
		font-size: 24px;
		color: #1d90e1;
		text-align: center;
		border-radius: 100%;
		opacity: 0;
		transition:all  0.35s;
	}

	.main-right-bottom:hover .main-right-bottom-hover{
		opacity: 0.3;
	}

	.main-right-bottom:hover .main-right-bottom-detail{
		opacity: 1;
	}


	/*  footer  */
	.index-footer{
		padding-top: 15px;
		overflow: hidden;
		display: block;
	}
	@media screen and (max-width: 719px){
		.index-footer {
			display: none;
		}
	}
	.footer-top{
		overflow: hidden;
		width: 97.11%;
		margin: 0 auto;
	}
	.index-wechat{
		float: left;
		width: 12.5%;
		text-align: center;
		margin-left: 4.5%;
	}
	.index-wechat img{
		width: 94.66%;
	}
	.index-wechat p{
		font-size: 1.8rem;
		color: #535353;
		margin-top: 20px;
	}
	.index-title{
		float: left;
		width: 79%;
		margin-left: 4%;
	}
	.wrap{
		width: 20%;
		overflow: hidden;
		float: left;
		white-space: nowrap;
	}
	.title-image{
		height: 38px;
		float: left;
	}
	dl{
		float: left;
		margin-left: 5%;
		width: 110px;
	}
	dl dt span{
		height: 38px;
		line-height: 38px;
		color: #353535;
		font-size: 2rem;
	}
	dl dd ul{
		list-style: none;
		counter-reset: count;
	}
	dl dd ul li{
		line-height: 25px;
	}
	dl dd ul li:before{
		content: ".";
		color: #707070;
	}
	dl dd ul li a{
		color: #494949;
		font-size: 1.4rem;
		margin-left: 8px;
	}
	.footer-middle{
		overflow: hidden;
		border-top: 1px solid #d2d2d2;
		margin-top: 30px;
	}
	.accenture-digital-logo{
		float: left;
		margin-left: 5%;
		line-height: 115px;
		width: 15.57%;
	}
	.accenture-digital-logo img{
		padding-top: 40px;
		width: 100%;
		vertical-align: middle;
	}
	.service{
		float: left;
		height: 115px;
		margin-left: 7%;
		width: 72%;
	}
	.service ul{
		overflow: hidden;
	}
	.service ul li{
		float: left;
		list-style: none;
		height: 115px;
		width: 25%;
	}
	.service-content{
		overflow: hidden;

	}
	.service-content img{
		padding-top: 25px;
		float: left;
		/*vertical-align: middle;*/
		width: 28.83%;

	}
	.service-content-text{
		float: left;
		margin-left: 5%;
	}
	.service-content-text h2{
		margin-top: 34px;
		color: #6c6c6c;
		font-size: 1.9rem;
	}
	.service-content-text span{
		font-size: 1.6rem;
		color: #989898;
	}
	.footer-bottom{
		width: 100%;
		height: 70px;
		line-height: 70px;
		background-color: #43403b;
		text-align: center;
		font-size: 1.7rem;
		color: #fff;
	}


	/*  氓掳锟矫ヂ憋拷盲赂禄盲陆鈥�  */

.index-small-main{
	width: 100%;
	margin-top: 0;
	display: none;
}
@media screen and (max-width: 719px){
	.index-small-main {
		display: block;
	}
}
.index-small-main  .c{
	width: 100%;
	margin: 0 auto;
	/* margin-bottom: 2rem; */
}
.index-small-main .c2{
	width: 100%;
	height: 21.7rem;
	margin: 0 auto;
	background-color: #fff;
	border-bottom: 2px solid #eee;
}
.index-small-main .c2 ul{
	overflow: hidden;
	margin: 0 auto;
	text-align: center;
}
.index-small-main .c2  ul li{
	float: left;
	width: 25%;	
	display: block;
}
.index-small-main .c2  ul li img{
	margin:40px 0 20px 17.5%;
	width: 65%;

}
.sm-four{
	font-size:1.6rem;
}
.index-small-main .c2 .area{
	display: block;
}
.index-small-main .c2  ul li a{
	float: left;
	font-size: 2.5rem;
	margin-top: -1.2rem;
	padding-left: 22%;
	color: rgb(102,102,102);
}



.index-small-main .c3{
	margin: 0 auto;
	margin-top: 3rem;
	width: 100%;
	height: 26.2rem;
	background-color: #fff;
	overflow: hidden;
}
.index-small-main .c3 .c3-left{
	float: left;
	width: 50%;
}
.index-small-main .c3 .c3-left h1{
	color: red;
	float: left;
	font-size: 2.5rem;
	padding-left: 4.0rem;
	padding-top: 2.0rem;
}
.index-small-main .c3 .c3-left p{
	float: left;
	padding-left: 4rem;
	margin-top: 1rem;
	font-size:2.1rem;
	color: rgb(175,175,175);
}
.index-small-main .c3 .c3-left .count{
	float: left;
	padding-left: 3rem;
	margin-top: 4rem;
}
.clock{
	width: 35px;
}
.index-small-main .c3 .c3-left .count span{
	font-size: 2.2rem;
}
.index-small-main .c3 .c3-left .count .time-count{
	padding-left: 1.4rem;
}
.index-small-main .c3 .c3-right{
	width: 50%;
	float: right;
	/*padding-right: 58px;*/
	padding-top: 0.5rem;
}
.index-small-main .c3 .c3-right img{
	width: 100%;
	display: block;
}

.digital{
	width: 94.44%;
	margin: 0 auto;
	padding-top: 3rem;
	display: none;
}
@media screen and (max-width: 719px){
	.index-digital {
		display: block;
	}
}
.digital-title{
	overflow: hidden;
}
hr{
	width: 36%;
	float: left;
	border: none;
	border-top: 1px solid #afafaf;
	margin-top: 14px;   /*wangkena  12/24*/
}
.beauty h2,.arder h2,.digital h2{
	float: left;
	font-size: 2.5rem;
	width: 20%;
	padding: 0 3.9%;
	text-align: center;
	color: #4c4c4c;
	font-weight: normal;
}
.beauty img ,.arder img ,.digital img {
	width: 100%;
	height: 100%;
}
.subtitle{
	color: #aeaeae;
	font-size: 18px;
	text-align: center;
	padding-bottom: 20px;   /*wangkena  12/24*/
}
.digital-one{
	overflow: hidden;
	margin-bottom: 1.8rem;
}
.digital-description{
	overflow: hidden;
	float: left;
	width: 65.5%;
}
.digital-description-text{
	float: left;
	width: 51.17%;
}
.detail1{
	font-size: 2.3rem;
	color: #525963;
	padding-left: 2rem;
}
.detail2{
	color: #717372;
	padding-top: 0.3rem;
	padding-left: 2rem;
}
.buy{
	width: 50%;
	line-height: 2.7rem;
	border: none;
	background-color: #f54a04;
	color: white;
	margin-left: 2rem;
	margin-top: 1.5rem;
}
.big-price{
	color: #f54a04;
	font-size: 2.8rem;
}
.digital-description-img{
	float: right;
	width: 48.83%;
}
.digital-img{
	float: right;
	width: 30.8%;
}
/*ul{
	overflow: hidden;
}*/
.digital-two li{
	float: left;
	width: 30.7%;
	margin-right: 3.7%;
	background-color: white;
}
.digital-two li:last-child{
	margin-right: 0;
}
.img-name{
	text-align: center;
	font-weight: bold;
	font-size: 1.4rem;
	margin-top: 0.5rem;
	margin-bottom: 0.8rem;
}
.img-declaration{
	text-align: center;
	color: #aeaeae;
	margin-bottom: 1.3rem;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
.price{
	text-align: center;
	color: #f54a04;
	margin-bottom: 1.5rem;
	font-weight: bold;
	font-size: 1.4rem;
}



.arder{
	width: 94.44%;
	margin: 0 auto;
	padding-top: 3rem;
	overflow: hidden;
	display: none;
}
@media screen and (max-width: 719px){
	.arder {
		display: block;
	}
}
.arder-title{
	overflow: hidden;
}
.left-1{
	float: left;
	width: 32%;
	margin-right: 2%;
}
.left-1 a{
	width:100%;
	display:block;
}
.left-1 a img{
	width:100%;
}
.right-top{
	float: left;
	width: 65.6%;
	overflow: hidden;
}
.right-top a{
	float: left;
	width: 32%;
	/* margin-bottom: 1.5rem; */
}
.right-top a:first-child{
	margin-right: 4%;
}
.right-top a:nth-child(3){
	margin-right: 4%;
}
.right-top-2{
	overflow:hidden;
	width:100%;
}
.right-top-2 a{
	width:48%;
	background:#fff;
}
.right-top-2 a:first-child{
	margin-bottom:4%;    /*wangkena  12/24*/
}
.right-top-2 a:nth-child(2){
	margin-bottom:4%;     /*wangkena  12/24*/
} 
.right-top-2 a img{
	width:100%;
}
.right-top-2 a p{
	text-align:center;
}
.right-bottom{
	float: left;
	width: 65.6%;
	overflow: hidden;
}
.right-bottom a{
	float: left;
	width: 46.8%;
	background-color: white;
}
.right-bottom a:first-child{
	margin-right: 6.4%;
}
.right-bottom .cloth-name{
	text-align: center;
	color: black;
	font-size: 1.4rem;
	margin-bottom: 1.3rem;
	margin-top: 2.1rem;
}
.right-bottom a img{
	width: 90%;
	margin-left: 5%;
}




.beauty{
	width: 94.44%;
	margin: 0 auto;
	padding-top: 3rem;
	overflow: hidden;
	display: none;
	margin-bottom: 140px;
}


.beauty-title{
	display: block;
	overflow: hidden;
	width:100%;
	margin-top:20px;
}
.beauty-title h2{
	width:28%;
	float:left;
	text-align:center;
	font-size: 20px;    /*wangkena  12/24*/
}
.beauty p{
	text-align: center;
}
.beauty a{
	background-color: white;
}
.beauty-name{
	color: black;
	font-size: 1.4rem;
	margin-top: 1.1rem;
	margin-bottom: 0.3rem;
	white-space:nowrap;
	overflow:hidden;
	text-overflow:ellipsis;
}
@media screen and (max-width: 719px) {
	.index-beauty {
		display: block;
		overflow:hidden;
		width:94.44%;
		margin:0 auto;
	}
	.index-beauty:last-child{
		margin-bottom:20px;     /*wangkena  12/23*/
	}
	.main-header{
		display:none;
	}
	.right-top-1{
		display:block;
	}
	.right-top-2{
		display:block;
	}
	.main-middle-top{
		display:none;
	}
	.main-middle{
		display:none;
	}
	.main-middle-show{
		display:none;
	}
	.insmnede a{
		display:none;
	}
	.main-middle-last a{
		display:none;
	}
	.main-left{
		display:none;
	}
}
@media screen and (min-width: 719px) {
	.beauty-title{
		display:none;
	}
	.subtitle{
		display:none;
	}
    .left-1{
		display:none;
	}
	.index-beauty{
	    display:none;
	}
	.digital-title{
		display:none;
	}
	.right-top{
		display:none;
	}
	.right-top-1{
		display:none;
	}
	.right-top-2{
		display:none;
	}
}
.new-price{
	color: #f54a04;
	font-size: 1.4rem;
	margin-bottom: 0.5rem;
}
.old-price{
	color: #c8c8c8;
	font-size: 1.5rem;
	margin-left: 2%;
	text-decoration: line-through;
}
.evalute{
	color: #c8c8c8;
	margin-bottom: 0.8rem;
	margin-top: 1.1rem;
}

.footer{
	width: 100%;
	/* padding-top: 3rem; */
	position: fixed !important;
	display: none;
	bottom: 0;
	z-index:100;
}
@media screen and (max-width: 719px){
	.footer {
		display: block;
	}
	.index-footer {
		display: none;
	}
	.footer-middle{
		display:none;
	}
	.footer-bottom{
		display:none;
	}
}
.footer .footer-ul{
	overflow: hidden;
	border-top: 0.2rem solid #ccc;
	background-color: #eee;
}
.footer .footer-ul .footer-li{
	width: 23%;
    float: left;
    height: 70px;
    line-height: 70px;
    text-align: center;
    font-size: 2rem;
    cursor: pointer;
}
.footer .footer-ul .footer-li a{
	color: #515151;
}
.footer .footer-ul .footer-li:first-child a{
	color: #fb5353;
}
.footer .footer-ul .footer-li:last-child{
	width: 31%;
	position: relative;
}
.circle{
	width: 2rem;
	height: 2rem;
	border-radius: 50%;
	background-color: red;
	font-size: 1.4rem;
	line-height: 2rem;
	position: absolute;
	top: 1.3rem;
	right: 19%;
	border: none;
	color: white;
}
.classification{
	width: 100%;
	z-index: 5;
	position: absolute;
	right: 0;
	bottom: 72px;   /*12/24*/
	background-color: white;
	display: none;
}
.classi-li{
	height: 4.8rem;
	line-height: 4.8rem;
	text-align: center;
	border-top: 0.1rem solid #ccc;
}
.classi-li a{
	font-size: 1.6rem;
	color: #666;
}
.footer .footer-ul .footer-li a .count{
	width: 18px;
    height: 18px;
    border-radius: 50%;
    background-color: red;
    font-size: 1.2rem;
    line-height: 18px;
    position: absolute;
    top: 1.3rem;
    border: none;
    color: white;
}
.header-small .header-wrapper-triangle {
    border: 15px solid rgba(255,255,255,0);
    border-bottom-color: rgba(255,255,255,0.9);
    position: absolute;
    top: 40px;
    right: 20px;
    display: none;
    z-index: 100;
}

/*yun*/
#addToCartLayer {
	display: none !important;
}
.siteSearch .siteSearchSubmit {
	margin-left: 0 !important;
}

.cartpage.span-24 .span-16 {
	display: none;
}
.submitOrder3 .submitOrder4_right {
	width:100%;
	margin-right: 0;
}
#content .span-24 .span-20.right.last {
	width:100%;
}
#content .span-24 .span-20.right.last .item_container_holder {
	width: 100%;
	left:0;
}
#content .span-18.last .simple_disp-img img {
	display: none !important;
}