
html {
	
}

body {
	color: #000;
	text-align: left;
	font-size: 12px;
	position: relative;
}




#page{
	width:100%;                             /*hcx-changed*/   /*wangkena 12/11*/
	/*padding:0 5px;*/     /*wangkena*/
	margin:0 auto;

}



button{
	cursor:pointer;
}


.strong{
	font-weight:bold;
	
}





/*
	Rating Stars
*****************/

.stars{
	background:url("../images/stars.png") repeat-x left center  #cccccc;
	display:block;
	height:14px;
	float:left;
	color: transparent;
}



/*
	required
*****************/

.required.right{
	margin: 0 0 0 20px;
	font-size: 90%;
	color: #666;
	max-width: 60%;
}











table.store-openings {
	padding: 0;	
	margin: 20px 0;

}

table.store-openings td {
	padding: 1px 8px !important;
	border-bottom: 1px solid #EEEEEE !important;
}

table.store-openings td.weekday_openings_day {
	padding: 1px 8px 1px 8px !important;
	font-weight: bold;
}

table.store-openings td.specialday_openings_date {
	padding: 1px 8px 1px 0 !important;
	font-weight: bold;
}













/*


	Cart and Pickup button
*****************/

button.pickupInStoreButton,
button.addToCartButton{
	height:40px;
	background:#000;
	color:#fff;
	border:2px solid #000;
	padding:0;
	width:100%;
	font-size:1em;
}


button.pickupInStoreButton{
	background:#fff;
	color:#000;
	
}

button.addToCartButton{
	font-weight:bold;
	text-transform:uppercase;
}
/*


	alerts
*****************/



.alert{
	padding:12px;
	border:1px dotted;
	margin:0 0 20px 0;
}

.alert.positive{
	border-color:#339b01;
	color:#339b01;
}

.alert.negative{
	border-color:#c90400;
	color:#c90400;
}

.alert.neutral{
	display: none;   /*wangkena  12/22*/
	border-color:#000;
	color:#000;
}
















/*
	Scroller 
*****************/



.span-24 > .scroller{
	padding:40px 0;
}

.span-24 > .scroller .title{
	font-size:3.2rem;  /*wangkena  12/10*/
	color:rgb(76,76,76);
	padding:0 0 5px 0;
	text-transform:uppercase;
	margin:10px 0 40px 0;                           /*hcx-changed*/
	text-align:center;
}



.span-24 > .scroller ul li{
	width:220px;
	margin:0 20px 0 0;
}

.span-24 > .scroller ul li{
	width:230px;
	margin:0 10px 0 0;
	

}

.scrollerProduct{
	margin:0 5px;
	display:block;
}


.scrollerProduct .thumb{
		margin:0 0 5px 0;
}

.scrollerProduct .thumb img{ 
	width:100%;
}




.scrollerProduct .details{
	color:#8f8f8f;
	text-align:center;
	overflow:hidden;
	white-space:nowrap;
	text-overflow:ellipsis;
	font-size:14px;
}


.scrollerProduct .priceContainer{
	text-align:center;
	margin: 30px 0 20px 0;
	color:#fd8d24;
}









/*
	Scroller 
*****************/

.jcarousel-clip {
	overflow: hidden;
}


.jcarousel-skin .jcarousel-prev,
.jcarousel-skin .jcarousel-next {
	position: absolute;
	width: 25px;
	height: 25px;
	border: 0;
	padding: 0;
	background: url("../images/scroller-sprite.png") no-repeat;
	margin:0;
}

.jcarousel-skin .jcarousel-prev[disabled],
.jcarousel-skin .jcarousel-next[disabled] {
	opacity: 0.1;
	cursor: default;
}


.jcarousel-skin .jcarousel-prev-horizontal,
.jcarousel-skin .jcarousel-next-horizontal {
	top: 40%;
}

.jcarousel-skin .jcarousel-prev-horizontal {
	left: 0;   /* y 1.28 */
	background-position: 0 0;
}

.jcarousel-skin .jcarousel-next-horizontal {
	right: 0;  /* y 1.28 */
	background-position: right 0;
}


.jcarousel-skin .jcarousel-prev-vertical,
.jcarousel-skin .jcarousel-next-vertical {
	left: 50%;
	margin-left: -12.5px;
}

.jcarousel-skin .jcarousel-prev-vertical {
	top: -30px;
	background-position: 0 bottom;
}

.jcarousel-skin .jcarousel-next-vertical {
	bottom: -30px;
	background-position: right bottom;
}


.hotsaleUl{
	width:403% !important;     /*wangkena  12/23*/ 
}

.span-24 > .scroller .detail-title {
	font-size:16px;
	border-bottom:1px solid #ccc;
	text-align:left;
	padding-bottom:5px;	
	padding-left:16px;
}
.detail-carousel  {             
	width:500% !important;
}
.detail-carousel li {          
	width:2.5% !important;  
	   
}
.detail-carousel li .scrollerProduct .priceContainer{
	margin:10px 0 10px 0;
}
.jcarousel-container-vertical{
	margin:30px 0;
}



.jcarousel-container{
}





ul.jcarousel-skin{
	background: url("../images/spinner.gif") no-repeat center center ;
    display: block;
    height: 100%;
    width: 100%;
	min-width:50px;
	min-height:50px;
	
}
/* hide loading */
ul.jcarousel-skin li{
	display:none;
}





/*
	Banner Sizes
*****************/

.cms_disp-img_slot .thumb img,
#content .simple_disp-img img{
	width:80%;
	height:auto;
	margin:0 auto;
}










.doCheckoutBut{
	margin-right:0;
}





.disp-img{
	clear:both;


}

.disp-img .title{
	display: block;
	
}

.disp-img .thumb{
	float: left;
	margin-right: 10px;
	margin-bottom: 5px;
	
}




/* help.css */




.clear_fix:after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}

.clear_fix {
	display: inline-block;
}



.clear_fix {
	display: block;
}

ul,ol{
	padding:0;
	margin:0;
	
}

ul li {
	list-style-type: none;

}

.skip, .skiptocontent, .skiptonavigation{
	position: absolute;
	top: -30000px;
	left: -30000px;
}


a{
	text-decoration:none;
	color:#666666;                           /*hcx-changed*/
}

.hidden,.notVisible{
	display:none;
}

img{
	vertical-align:top;
}

/*
select {
	float: left;
}

input.text,
input.qty,
label {
	padding: 0 0 0 1px;
	margin: 0;
	float: left;
}

label {
	font-weight: normal;
}

.paragraphContent p,
.paragraphContent h1,
.paragraphContent h2,
.paragraphContent h3,
.paragraphContent h4,
.paragraphContent h5,
.paragraphContent h6 {
	padding: 10px;
	margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	color: #666666;
	line-height: 1.2;
}

.strong {
	font-weight: bold;
}

dl {
	overflow: hidden;
	line-height: 1.5em;
}

dl dt {
	float: left;
	min-width: 148px;
}

table, th, td {
	vertical-align: top;
}

table ul {
	padding: 0;
}

thead th {
	background-color: transparent;
}

table tr td {
	padding: 10px;
}

p {
	margin: 0 0 10px 0;
}

dl {
	margin: 0 0 10px 0;
}

thead th {
	background-color: transparent;
}

table tr td {
	border-left: 1px solid #e7e7e7;
	border-top: 1px solid #C0C1C2;
}

table tr td:first-child {
	border-left: none;
}

tbody tr:nth-child(2n) td,tbody tr.even td {
	background-image: none;
	background-color: transparent;
}

a {
	text-decoration: none;
}

a,a:visited {
	color: #495862;
}

a:hover {
	color: #2d95c8;
	text-decoration: underline;
}

a:focus {
	color: #2d95c8;
	text-decoration: underline;
}

a:focus img {
	outline: 1px solid #999;
}

a:active {
	color: #00679f;
}

.uppercase {
	text-transform: uppercase;
}

.prod_image {
	padding: 10px;
}

.hidden {
	display: none;
}

.text_hide {
	text-indent: -9999px;
}

.pad_right {
	margin-right: 10px;
}

.pad_left {
	margin-left: 10px;
}

.pad_none {
	margin: 0;
	padding: 0;
}

#wrapper {
	width: 990px;
	margin: 0 auto;
	overflow: hidden;
	background-image: url(../images/bg-frame.png); 
	background-repeat: repeat;
	background-position: center center;
	background-color: transparent;
	background: rgba(255, 255, 255, 0.3) none; /* all browsers supporting RGBa will use and ignore the above */
	border-bottom: 1px solid;
	border-left: 1px solid;
	border-right: 1px solid;
	border-color: #90bdd0;
	border-color: rgba(255, 255, 255, 0.2); /* all browsers supporting RGBa will use and ignore the above */
}

#page {
	position: relative;
	overflow: hidden;
	width: 970px;
	margin: 0 auto;
	margin-bottom: 10px;
	background-color: #ffffff;
}

.cms_disp-img_slot .disp-img,.cms_disp-img_slot .simple_disp-img {
	border: 0px solid #999999;
	margin-bottom: 10px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}

.span-4.section4 .cms_disp-img_slot .disp-img:first-child,.span-4.section4 .cms_disp-img_slot .simple_disp-img:first-child {
	margin-top: 30px;
}

.page-productList .section1.cms_disp-img_slot .content {
	margin-bottom: 10px;
}

.section1.cms_disp-img_slot .disp-img .title,
.section1.cms_disp-img_slot .disp-img .details,
.section1.cms_disp-img_slot .disp-img .action,
.section2.cms_disp-img_slot .disp-img .title,
.section2.cms_disp-img_slot .disp-img .details,
.section2.cms_disp-img_slot .disp-img .action,
.zone_a.cms_disp-img_slot .disp-img .title,
.zone_a.cms_disp-img_slot .disp-img .details,
.zone_a.cms_disp-img_slot .disp-img .action,
.zone_b.cms_disp-img_slot .disp-img .title,
.zone_b.cms_disp-img_slot .disp-img .details,
.zone_b.cms_disp-img_slot .disp-img .action,
.zone_c.cms_disp-img_slot .disp-img .title,
.zone_c.cms_disp-img_slot .disp-img .details,
.zone_c.cms_disp-img_slot .disp-img .action,
.section4.cms_disp-img_slot .disp-img .title,
.section4.cms_disp-img_slot .disp-img .details,
.section4.cms_disp-img_slot .disp-img .action,
.section5.cms_disp-img_slot .disp-img .title,
.section5.cms_disp-img_slot .disp-img .details,
.section5.cms_disp-img_slot .disp-img .action,
.left-content-slot.cms_disp-img_slot .disp-img .title,
.left-content-slot.cms_disp-img_slot .disp-img .details,
.left-content-slot.cms_disp-img_slot .disp-img .action,
.top-content-slot.cms_disp-img_slot .disp-img .title,
.top-content-slot.cms_disp-img_slot .disp-img .details,
.top-content-slot.cms_disp-img_slot .disp-img .action,
.wide-content-slot.cms_disp-img_slot .disp-img .title,
.wide-content-slot.cms_disp-img_slot .disp-img .details,
.wide-content-slot.cms_disp-img_slot .disp-img .action,
.narrow-content-slot.cms_disp-img_slot .disp-img .title,
.narrow-content-slot.cms_disp-img_slot .disp-img .details,
.narrow-content-slot.cms_disp-img_slot .disp-img .action {
	display: none;
}

.backToMobileStore {
	font-size: 5em;
	font-weight: bold;
	border-bottom: 0.1em solid #687387;
	padding: 0.5em 0.5em;
	background: -moz-linear-gradient(top, #ffffff, #e6edf3);
	background: -ms-linear-gradient(top, #ffffff, #e6edf3);
	background: -o-linear-gradient(top, #ffffff, #e6edf3);
	background: -webkit-gradient(linear, center top, center bottom, from(#ffffff), to(#e6edf3));
	background: -webkit-linear-gradient(top, #ffffff, #e6edf3);
	background: linear-gradient(top, #ffffff, #e6edf3);
}

.greyDot {
	background-image: none;
	background-repeat: repeat;
	background-attachment: scroll;
	background-position: 0 0;
	background-color: #6E7588;
	border-radius: 500em 500em 500em 500em;
	color: #FFFFFF;
	display: block;
	float: left;
	font-size: 0.6em;
	height: 1.5em;
	margin: 0.6em 0.6em 0 0;
	text-align: center;
	width: 1.5em;
}

.closeDot {
	float: right;
	cursor: pointer;
}

.emptyMessage {
	font-weight: bold;
}

.cms-content {
	padding: 10px 20px;
}

.cms-content .information_message {
	margin-bottom: 30px;
}

.cms-content h3 {
	margin: 20px 0 6px 0;
}

.cms-content .bullet-list li {
	margin: 1px 0;
	list-style-type: disc;
}

.cms-content-emphasized-big {
	font-size: 1.2em;
}

.helpBanner {
	margin: 20px 0;
	padding: 5px;
	padding: 10px 0 10px 5px;/*66*/
	border: 1px solid #a5a5a5;   /*wangkena  12/22*/
	font-size: 14px;/*66*/
}

.helpBanner .bannerHeadline {
	font-weight: bold;
	margin-right: 5px;
}

.helpBanner a {
	font-weight: bold;
	margin-left: 10px;
}




/* buttons.css  */

/* -------------------------------------------------------------- 
  
buttons.css
* Gives you some great CSS-only buttons.
   
Created by Kevin Hale [particletree.com]
* particletree.com/features/rediscovering-the-button-element

See Readme.txt in this folder for instructions.

-------------------------------------------------------------- */

a.button, button {
	display: block;
	float: left;
	margin: 0.7em 0.5em 0.7em 0;
	padding: 5px 10px 5px 7px;   /* Links */
	border:2px solid #C7C7C7;
	background: #f8f8f8;
	font-family: Arial, Verdana, sans-serif;
	font-size: 100%;
	line-height: 130%;
	text-decoration: none;
	font-weight: bold;
	color: #777;
	cursor: pointer;
	text-align: center;
	padding: 0 10px;
	border-radius: 3px;/*66*/
}
button {
	width: auto;
	overflow: visible;
	height: 32px;
}

a.button {
	height: 28px;
	line-height: 28px;
}

button img, a.button img {
	margin: 0 3px -3px 0 !important;
	padding: 0;
	border: none;
	width: 16px;
	height: 16px;
	float: none;
}


/* Button colors
-------------------------------------------------------------- */



button.positive,
button.negative {
	height: 40px;
}

a.button.positive,
a.button.negative {
	height: 36px;
	line-height: 36px;
}






/* Standard */
button:hover, a.button:hover {
	background-color: #fd8d24;
	border-color: #fd8d24;
	color: #fff;
}
a.button:active,
button:active {
}

/* Positive */
button.positive,
a.button.positive {
	color: #fff;
	background: #000;
	font-weight: bold;
	text-transform: uppercase;
	border-color:#000;
	
	font-size:16px;   /*y*/
	font-weight:normal;
}
a.button.positive:hover, 
button.positive:hover {
}
a.button.positive:active,
button.positive:active {
}

/* Negative */
button.negative,
a.button.negative {
	color: #000;
	background: #fff;
	border-color:#000;

}
a.button.negative:hover, 
button.negative:hover {
}
a.button.negative:active,
button.negative:active {
}



/* Button block width
-------------------------------------------------------------- */


button.block, a.button.block {
	width: 100%;
}











button[disabled]{
	opacity:0.2;
	cursor:default;
	text-transform: none;
}









button.link {
	display:inline;
	float:none;
	background:none;
	border:0;
	padding:0;
	margin:0;
	line-height:auto;
	font-weight:normal;
	color:inherit !important;
	opacity:inherit;
}



/*  forms.css */

/* --------------------------------------------------------------

   forms.css
   * Sets up some default styling for forms
   * Gives you classes to enhance your forms

   Usage:
   * For text fields, use class .title or .text
   * For inline forms, use .inline (even when using columns)

-------------------------------------------------------------- */

/* 
	A special hack is included for IE8 since it does not apply padding 
	correctly on fieldsets
 */ 
label       { font-weight: bold; }
fieldset    { padding:0 1.4em 1.4em 1.4em; margin: 0 0 1.5em 0; border: 1px solid #ccc; }
legend      { font-weight: bold; font-size:1.2em; margin-top:-0.2em; margin-bottom:1em; }

fieldset, #IE8#HACK { padding-top:1.4em; } 
legend, #IE8#HACK { margin-top:0; margin-bottom:0; }

/* Form fields
-------------------------------------------------------------- */

/* 
  Attribute selectors are used to differentiate the different types 
  of input elements, but to support old browsers, you will have to 
  add classes for each one. ".title" simply creates a large text  
  field, this is purely for looks.
 */
input[type=text], input[type=password],
input.text, input.title,
textarea {
  background-color:#fff;
  border:1px solid #bbb;
}
input[type=text]:focus, input[type=password]:focus,
input.text:focus, input.title:focus,
textarea:focus {
  border-color:#666;
}
select { background-color:#fff; border-width:1px; border-style:solid; }

input[type=text], input[type=password],
input.text, input.title,
textarea, select {
  margin:0.5em 0;
}

input.text,
input.title   { width: 300px; padding:5px; }
input.title   { font-size:1.5em; }
textarea      { width: 390px; height: 250px; padding:5px; }

/* 
  This is to be used on forms where a variety of elements are 
  placed side-by-side. Use the p tag to denote a line. 
 */
form.inline { line-height:3; }
form.inline p { margin-bottom:0; }


/* Success, info, notice and error/alert boxes
-------------------------------------------------------------- */

.error,
.alert, 
.notice,
.success, 
.info 			{ padding: 0.8em; margin-bottom: 1em; border: 2px solid #ddd; }

.error, .alert { background: #fbe3e4; color: #8a1f11; border-color: #fbc2c4; }
.notice     { background: #fff6bf; color: #514721; border-color: #ffd324; }
.success    { background: #e6efc2; color: #264409; border-color: #c6d880; }
.info 			{ background: #d5edf8; color: #205791; border-color: #92cae4; }
.error a, .alert a { color: #8a1f11; }
.notice a   { color: #514721; }
.success a  { color: #264409; }
.info a			{ color: #205791; }


@media screen and (max-width:719px) {
	.hotsaleUl {
		width: 495% !important;
	}
}