/*
## productDetails
********************************************************************/



/*
## Product Images
********************************************************************/


.productImage{
	position:relative;
	width:50%;   /*wangkena*/
}

.productImage .productImagePrimary{
	/*margin:0 0 0 110px;*/
	margin:0 0 0 25%;   /*wangkena*/
	width: 60%;  /*wangkena*/
}



.productImage .productImagePrimary a.productImagePrimaryLink{
	display:block;
	/*width:420px;*/
	width: 100%;   /*wangkena*/
	text-align:center;   /*wangkena*/
}


.productImage .productImagePrimary a.productImagePrimaryLink img{
	/*width:100%;*/
	width:85%;   /*wangkena*/
}



.productImage .productImagePrimary a.productImageZoomLink{
	display:block;
	width:36px;
	height:36px;
	background:url("../images/productImageZoomLinkIcon.png") no-repeat center center ;
	position:absolute;
	top:0;
	right:20px;
}




/*
### Product Images scroller
********************************************************************/

.productImage .productImageGallery{
	float:left;
	/*width:110px;*/
	width:17%;   /*wangkena*/
	position:relative;
	/*height:420px;*/   /*wangkena  12/10*/
	overflow:hidden;
	margin-left:12px;   /*wangkena*/
}




.productImage .productImageGallery .jcarousel-clip{
	/*height:360px;*/
	max-height: 214px;
}

.productImage .productImageGallery li{

	height:auto;
	/*margin:0 0 30px 0;*/
	margin:0 0 27% 0;    /*wangkena*/
}


.productImage .productImageGallery li .thumb{
	border:1px solid #d9d9d9;
 	display:block;
	overflow:hidden;
	/*width:96px;*/
	/*width:100%;   wangkena  12/10*/
	margin:1px;
	text-align: center;   /*wangkena*/
}
.productImage .productImageGallery li .thumb img {
	width: 90%;    /*wangkena*/
}   


.productImage .productImageGallery li .thumb.active{
	/*border:2px solid #000000;*/
	border: 2px solid #fd8d24;      /*wangkena  detail*/
	margin:0; 
	

}












/*
## Product Description
********************************************************************/


.productDescription{
	width:38%;   /*wangkena  12/10*/
	position: relative;
}


.productDescription h1{
	font-size:22px;
	font-weight:normal;
	color:#000;
	/*border-bottom:1px dotted #979797;*/
	border-bottom: 1px solid #ccc;    /*wangkena  detail*/
	/*padding:0 0 5px 0;*/
	padding: 20px 0 60px;   /*wangkena  detail*/
}


.productDescription .big-price{
	/*font-size:1.417em;*/
	font-size:20px;    /*wangkena  detail*/
	font-weight: bold;   /*wangkena  detail*/
	/*color:#303030;*/
	color:#f30000;   /*wangkena  detail*/
	padding:0 0 10px 10px;
	position: absolute;
    top: 155px;
    left: -10px;
    color: rgb(243,0,0);
    font-size: 26px;
}


.productDescription .summary{
	color:#666666;
	margin:0 0 10px 0;
	font-size:13px;   /*wangkena*/
	line-height:22px;   /*wangkena 12/10*/
	position: relative;
    top: -102px;
    height: 46px;
    overflow: hidden;
    color:rgb(248,0,7);
}

/*wangkena detail*/
.productDescription .add-to-cart {
	width: 100%;     /*wangkena*/
}
.productDescription .add-to-cart label {
	font-weight: normal;
	font-size: 14px;
	color: rgb(102, 102, 102);
}
.productDescription .qty {
	/*padding-top:18px;*/
	margin-bottom: -28px;
}
.productDescription .qty .stock_message {
	margin: 10px 0;
    position: relative;
    left: 95px;
    top: -31px;
    color:#F7731F;
    height: 22px;     /*wangkena  12/23*/
}
.productDescription .qty #qtyInput {
	padding:0 10px;
	text-align:center;
	margin-left:5px;
}
/*wangkena detail*/



.productDescription .colour{
	padding: 5px 0;
	line-height:2.5em;
	color:#929292;
}


.productDescription  ul.colorlist {
	float:left;
}

.productDescription ul.colorlist li{
	float:left;
	margin:0 10px 0 0;
}



.productDescription  .size{
	padding: 10px 0;

	color:#929292;
	
}

.productDescription  .size form{
	float:left;
	
}

.productDescription  .size .size-guide{
	float:left;
	
}


.productDescription  .size form label{
	display:block;
	font-weight:normal;
}



.productDescription .productAddToCartPanel .span-5 {
 /*width: 185px;*/
 width:37%;    /*wangkena*/
}




.productDescription .LoveShare {
	text-align:left;
	margin-top: 15px;
}


.productDescription .share{
	color:#666666;
	/*float:none !important;*/   /*wangkena  detail*/
	display:inline-block;
	height:20px;
	line-height:20px;

	padding:0 0 0 25px;


}

.productDescription .share > span{ 
	display:none;

}


.productDescription .share{
	background:url("../images/productShareIcon.png") no-repeat left center;
}










/*
## Product Tabs
********************************************************************/


/*
#productTabs{

	margin:0 0 20px 0;
	clear: both;
}




#productTabs ul.tabs-list,
#productTabs .tabHead{
	border-bottom:1px dotted #979797;
	margin:0 0 40px 0;
	padding: 0 0 10px;
}

#productTabs ul.tabs-list li{
	float:left;
}

#productTabs ul.tabs-list li a,
#productTabs .tabHead{
	display:block;
	color: #666666;
	font-size: 1.167em;
	text-transform: uppercase;
	font-weight: bold;
	padding:0 20px 0 0;


}


#productTabs ul.tabs-list li.current a{
	color: #000;


}

#productTabs  .current-info,
#productTabs .content .tabhead{
	display:none;


}












.prodReview{
	margin:0 0 20px 0;
	
}






.prodReview .count{ 
	color:#808080;
	padding:0 10px;	
}

.prodReview .write{ 
	color:#808080;
	font-weight:bold;
	padding:0 0 0 10px;
	background:url("../images/facetMoreLessIcon.png") no-repeat left center ;
	
}
*/



#productTabs{
	clear: both;
	width: 90%;
    margin: 60px auto 20px;
}




#productTabs ul.tabs-list,
#productTabs .tabHead{
	/*border-bottom:1px solid #979797;*/
	border-bottom:2px solid #0061a3;    /*wangkena  detail*/

}

#productTabs ul.tabs-list li{
	float:left;
}

#productTabs ul.tabs-list li a,
#productTabs .tabHead{
	display:block;
	color: #666666;
	font-size: 15px;   /*wangkena  12/10*/
	text-transform: uppercase;
	font-weight: bold;
	padding:10px 20px 10px 20px;
	/*wangkena  detail*/
	border:1px solid #ccc;
	border-bottom: none;
	margin-left:-1px;
	/*wangkena  detail*/
}
/*wangkena  detail*/
#productTabs ul.tabs-list li:first-child a {
	margin-left:0;
}
/*wangkena  detail*/

#productTabs ul.tabs-list li.current a{
	color: #000;
	/*background:#fff;*/
	color: #fff;    /*wangkena  detail*/
	background: #00609f;   /*wangkena  detail*/
	border:1px solid #00609f;
	border-bottom:0;
	margin:0;
	padding:9px 19px 11px 19px;


}

#productTabs  .current-info,
#productTabs .content .tabhead{
	display:none;


}



#productTabs .content{
	position:relative;
	margin:20px 0 0 0;  /*wangkena  12/23*/
	font-size:13px;   /*wangkena  12/10*/
}





/*
### productDescriptionText
********************************************************************/


.productDescriptionText{
	-webkit-column-count: 2; 
	-moz-column-count: 2; 
	column-count: 2; 
}


/*
### productFeatureClasses
********************************************************************/



.productFeatureClasses{
	
}


.productFeatureClasses .headline{
	border-bottom:1px solid #a5a5a5;
	height:30px;
	line-height:30px;
	text-transform:uppercase;
	font-weight:bold;
	font-size:1em;
	white-space: nowrap;
	display:block;
	margin:20px 0 0 0;
	
}



.productFeatureClasses table{
	width:100%;
	
}

.productFeatureClasses table tr:nth-child(odd){
	background:#f6f6f6;
	
}


.productFeatureClasses table td{
	width:50%;
	
	padding:10px 20px;
	
}


.productFeatureClasses table td.attrib{
	font-weight:bold;
	
}



















/*
### prodReview
********************************************************************/

.prodReview{
	/*margin:0 0 20px 0;*/
	margin:20px 0 10px;    /*wangkena  detail*/
}


.prodReview .count{ 
	color:#808080;
	padding:0 10px;	
}

.prodReview .write{ 
	color:#808080;
	font-weight:bold;
	padding:0 0 0 10px;
	background:url("../images/facetMoreLessIcon.png") no-repeat left center ;
	
}

.reviews{
	
	
}

.reviews .actionBar{

	height:30px;
	line-height:30px;
	color:#808080;

	font-size:1em;
	white-space: nowrap;
	display:block;
	margin:20px 0 ;
}

.reviews .actionBar.top{

	border-bottom:1px solid #a5a5a5;
}

.reviews .actionBar.bottom{

	border-top:1px solid #a5a5a5;
}

.reviews .actionBar a,
.reviews .actionBar .write{ 
	color:#808080;
	font-weight:bold;
	padding:0 0 0 10px;
	background:url("../images/facetMoreLessIcon.png") no-repeat left center ;
	
}


.reviews .reviewDetail{ 
	border-top:1px dotted #a5a5a5;
	padding:20px 0;
}

.reviews .reviewDetail:first-child{ 
	border-top:0;
}


.reviews .reviewDetail .headline{ 
	font-weight:bold;
}

.reviews .reviewDetail .body{ 
	
}


.reviews .reviewDetail .autor{ 
	font-style:italic;
	color:#808080;
}




#write_reviews.reviews .headline{
	border-bottom: 1px solid #A5A5A5;
	font-size: 15px;
	font-weight: bold;
	height: 39px;
	line-height: 39px;
	text-transform: uppercase;
	margin:0 0 20px 0;
	color: #f7731f;
}

.reviews .description{
	margin:0 0 20px 0;
}







/*
### Product Images Colorbox
********************************************************************/



#colorbox .productImage{
	padding:20px;
}



#colorbox .productImage .productImageGallery{
	height:515px;
}

#colorbox  .productImage .productImageGallery .jcarousel-clip {
    height:455px;
}

#colorbox .productImage .productImageGallery li {
    margin: 0 0 18px;
}


#colorbox .productImage .productImagePrimary {
    margin: 0 0 0 150px;
}





/*
### quickviewLightbox Colorbox
********************************************************************/


#quickviewLightbox{
	padding:20px;
}



#quickviewLightbox .productImage{
	padding: 0;
	margin:0 30px 0 0;
}


#quickviewLightbox .productImage .productImagePrimary{
	margin:0;
}

#quickviewLightbox .productImage .productImagePrimary .productImagePrimaryLink{
	width: 284px;
}

#quickviewLightbox .productImage .productImagePrimary a.productImageZoomLink{
	right:0;
}


#quickviewLightbox .productDescription{
	width: 496px;
}


/* wangkena  productAddToCartPanel*/
.productAddToCartPanel .addToCartButton {
	font-size:14px;
	width:100px;
}
.productAddToCartPanel .addToCartButton#addToCartButton {
	outline: none;
    min-width: 129px;
    text-transform: none;
    white-space: nowrap;
    background-color: #f61e4a !important;
    background-image: url("../images/icon-cart-put.png");
    background-repeat: no-repeat;
    border: 0;
	width: 164px;
	font-size: 18px;
    height: 40px;
    line-height: 40px;
    margin: 11px 0 10px;
    padding: 0 15px 0 45px;
    background-position: 15px 11px;
    border-radius: 0px;
}
#AddToCart-PickUpInStoreAction,#AddToCart-AddToCartAction {
	overflow: hidden;
	float:left;
}
.productDescription .productAddToCartPanel .pickupInStoreButton{
	outline: none;
    text-transform: none;
    background-color: #fd8d24;
    border: 0;
    float: left;
    color: #fff;
    font-size: 18px;
    border-radius: 0;
    width: 100px;    /*zhangmiao 1/13*/
    margin-top:11px;
    /* min-width: 100px; */
}
@media screen and (max-width:719px){
	.productDescription .productAddToCartPanel .span-5.pickupInStoreButton {
		width: 34%;
    	margin-top:0;
    	min-width: 0px;
    	font-size: 16px;
	}
}
/*.productAddToCartPanel .pickupInStoreButton {
	font-size: 14px;
}*/
.productAddToCartPanel .pickupInStoreButton:hover {
	color:#fff;
	/*font-size:14px;*/
}
/* wangkena  productAddToCartPanel*/

.productDescription #buyNowForm {
	width:auto !important;
}
.productAddToCartPanel .addToBuyButton#addToBuyButton {
	font-size:18px;
	font-weight:bold;
	color:#fff;
	padding:0 15px;
	background-color:#fd8d24;
	height:40px;
	line-height:40px;
	border-radius:0;
	margin: 11px 0 0 8px;
}
/*wangkena  12/10*/
@media screen and (max-width:719px){
	.productImage .productImagePrimary a.productImageZoomLink {
		display:none;     /*wangkena  12/21*/
	}
	.productImage {
		width: 90%;
		margin: 0 5%;
	}
	.productDescription {
		width: 94%;
		margin: 0 3%;
		padding: 3% 0;
	}
	.productDescription h1 {
		font-size:18px;
	}
	.productDescription .summary {
		width:85%;
	}
	.productDescription .big-price {
		margin-right: 2%;
	}
	#content .detail-span24 {
		display: none;
	}
	.payPage{
	display:block;
	}
	#productTabs {
		width: 100%;
		margin: 0 auto;
	}
	/* .productDescription .LoveShare {
		position:fixed;
		b:0;
		left:0;
		z-index: 3;
	    height: 48px;
	    width: 33%;
	} */
	.productDescription .share {
	    position:fixed;
	    bottom:0;
	    left:0;
	    background-color: #fff;
	    border-top: 1px solid #ccc;
	    z-index: 3;
	    height: 49px;
	    width: 33%;
	    text-align: center;
	    font-size: 15px;
	    color: #fe7203;
	    line-height: 50px;
	    background-position: 24% 54%;   /*  y12.16  */
	    padding-left: 0;
	    background-image: none;   /*wangkena  12/23*/
	}
	#actions-container-for-AddToCart {
		z-index: 3;
	    position: fixed;
	    right: 0;
	    bottom: 0;
	    width: 100%;
	    background: #fff;
	    height: 50px;
	}
	#actions-container-for-AddToCart #addToCartForm {
		position:absolute;
		left:33%;
		top:0;
		width: 33%;
		margin-right: 0;
	}
	#actions-container-for-AddToCart #addToCartButton {
		width:100%;
		height: 50px;
		background-color: #f61e4a;
		font-size: 16px;
		border: none;
		margin: 0;
		border-radius:0;
		font-weight:normal;   /* y12.16  */
		padding:0;
		background-image: none;
	}
	/*wangkena  12/11*/
	#actions-container-for-AddToCart .outOfStock {
		width:100%;
		height: 50px;
		background-color: #f61e4a;
		font-size: 16px;
		border: none;
		margin: 0;
		border-radius:0;
	}
	/*wangkena  12/11*/
	#actions-container-for-AddToCart .pickupInStoreButton {
		position:absolute;
		top:0;
		right:0;
		width: 34%;
		height: 50px;
		font-size: 16px;
		background-color: #fd8d24;
		color: #fff;
		margin: 0;
		border-radius:0;
		font-weight:normal;  /*  y12.16  */
	}
	#actions-container-for-AddToCart .pickupInStoreButton:hover{
		background-color: #fd8d24;
	}
	.span-10.add-to-cart .productAddToCartPanel {
		z-index: 100;
	    position: fixed;
	    right: 0;
	    bottom: 0;
	    width: 67%;
	    background: #fff;
	}
	.productAddToCartPanel #addToCartForm,
	.productAddToCartPanel #addToBuyForm {
		width: 50% !important;
    	min-width: 0 !important;
	}
	.productAddToCartPanel #addToCartForm #addToCartButton,
	.productAddToCartPanel .addToBuyButton#addToBuyButton  {
		width:100%;
		height:50px;
		line-height:50px;
		text-align:center;
		font-size:15px;
		font-weight:normal;
		margin:0;
	}
	.productAddToCartPanel #addToCartForm #addToCartButton {
		background-image:none;
		padding:0;
		min-width:0;
	}
	.productAddToCartPanel .addToBuyButton#addToBuyButton  {
		font-weight:normal;
		width:50%;
	}
	.productAddToCartPanel #addToCartForm {
		margin-right:0;
	}
}

/*wangkena  12/23*/
#read_reviews #write_review_action {
	color: #f7731f;
    text-decoration: underline;
    font-weight: bold;
    font-size: 12px;
}


/*zhangmiao  1/13*/
#content .detail-span24 {
	width:90%;
	margin:0 5%;
}
.span-24 > .scroller .detail-title {
	font-size:16px;
	border-bottom:1px solid #ccc;
	text-align:left;
	padding-bottom:5px;
	padding-left:16px;
}
