* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}

html {
    font-size: 62.5%;
}

body {
    margin: 0;
    padding: 0;
    font-family: "Microsoft YaHei";
    background: rgb(245, 245, 245);
}
  
img {
    border: none;
}

a:hover {
    text-decoration: none;
}

.clearfix:before, .clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

/* wangkena */
/* 盲赂禄茅隆碌氓陇麓茅茠篓 */
.header-wrapper {
    width: 100%;
    display: block;
}

.header {
    width: 97.11%;
    height: 97px;
    margin: 0 auto;
}

.header .logo {
    float: left;
    width: 20.6%;
    margin-left: 3%;
    line-height: 97px;
}

.header .logo img {
    width: 100%;
    vertical-align: middle;
}

.header .search {
    float: left;
    width: 27.8%;
    margin-left: 8%;
    margin-top: 26px;
}

.header .search .searchInput {
    float: left;
    width: 81.8%;
    height: 30px;
    padding-left: 2%;
    border: 1px solid #e0ddde;
    outline: medium none;
}

.header .search .searchBtn {
    float: left;
    width: 15%;
    height: 32px;
    color: #fff;
    background: #fd8d24;
    text-align: center;
    cursor: pointer;
    outline: medium none;
    border: none;
    font-size: 1.6rem;
}

.header .search .search-item {
    float: left;
    width: 100%;
}

.header .search .search-item a {
    color: #676767;
    margin: 0 1%;
    font-size: 1.2rem;
    line-height: 24px;
}

.header .nav-right {
    float: left;
    width: 28.6%;
    margin-left: 12%;
    margin-top: 39px;
    font-size: 1.4rem;
}

.header .nav-right a {
    float: left;
    display: block;
    color: #666666;
}

.header .nav-right a:hover {
    color: #fd8d24;
}

.header .nav-right span {
    float: left;
    display: inline-block;
    color: #e1e1e1;
    margin: 0 2%;
}

/*  氓掳锟矫ヂ憋拷氓陇麓茅茠�?  */
.header-wrapper-small {
    width: 100%;
    background: #000;
    display: none;
    position: relative;
    height: 67px;
    line-height: 67px;    /*wangkena  12/23*/
}
@media screen and (max-width: 719px){
    .header-wrapper {
        display: none;
    }
    .header-wrapper-small {
        display: block;
    }
}

.header-wrapper-small .header-small-content {
    width: 94.44%;
    margin: 0 auto;
    overflow: hidden;
    color: #fff;
}
.header-wrapper-small .header-small-left {
    font-size: 5rem;
    margin-left: -16px;
    margin-top: 10px;
    display: block;
    float: left;
    color: #fff;
}
.header-wrapper-small .header-small-left span {
    font-size: 2.2rem;
    display: block;
    margin-top: 13px;
    margin-left: -10px;
    font-family: "Microsoft YaHei";
    float: right;
} 
.header-wrapper-small .header-small-title {
    width: 40%;
    margin: 0 auto;
    font-size: 2.2rem;
    text-align: center;
    line-height: 67px;
}
.header-wrapper-small .header-small-right {
    font-size: 3.8rem;
    float: right;
    padding: 16px 0 11px;
    margin: 0;
    cursor: pointer;
}
.header-wrapper-small .header-small-click {
    background: rgb(244,244,244);
    position: absolute;
    right: 1px;
    border-radius: 8px;
    width: auto;
    overflow: hidden;
    /*opacity: 0.9;
    filter: alpha(opacity: 90);*/
    display: none;
    top:67px;
    z-index: 100;
    opacity: 1;
}
.header-wrapper-small .header-small-click a {
    padding: 13px 15px;
    font-size: 1.8rem;
    color: #4b4b4b;
    display: block;
    border-bottom: 1px solid #ccc;
    line-height: 23px;
    min-width: 100px;
    text-align: center;
}
.header-wrapper-small .header-small-click a:first-child{
	display:none;
}
.header-wrapper-small .header-small-click a:nth-child(2){
	display:none;
}
.header-wrapper-small .header-wrapper-triangle {
    border: 15px solid rgba(255,255,255,0);
    border-bottom-color: rgba(255,255,255,0.9);
    position: absolute;
    top: 39px !important;
    right: 20px;
    display: none;
    z-index: 100;
}

.banner-title {
    width: 100%;
    padding-left: 1%;
    /*float: left;*/
    background: #000000;
    font-size: 1.6rem;
    top: 0;
    z-index: 10;
    display: block;
}
@media screen and (max-width: 719px){
    .banner-title {
        display: none;
    }
}
.banner-title .title-ul .title-item {
    float: left;
    padding: 0 1.5%;
    position: relative;
}

.banner-title .title-item-add {
    height: 55px;
    display: none;
    float: left;
    width: 100px;
}

.banner-title .title-ul .title-item:first-child {
    min-width: 87.5px;
}

.banner-title .title-ul .title-item .dropBtn {
    position: absolute;
    width: 0;
    height: 0;
    border-color: #fff rgba(255, 255, 255, 0) rgba(255, 255, 255, 0);
    border-style: solid;
    border-width: 7px 7px 0;
    overflow: hidden;
    top: 45%;
    right: 5%;
    cursor: pointer;
    transition: all 0.3s ease-in 0s;
}

.banner-title .title-ul .title-item:hover .dropBtn {
    transform: rotate(180deg);
}

.banner-title .title-ul .title-item:hover {
    background: #1e90df;
}

.banner-title .title-ul .title-item:hover .dropmenu {
    display: block;
}

.banner-title .title-ul .title-item .title-items {
    display: block;
    line-height: 55px;
    color: #ffffff;
}

/*氓鈥β┢�?�モ�⑩�犆モ��?拷氓藛鈥犆甭幻�?�糕�姑︹�光�懊拷艙氓锟解��?*/
.banner-title .title-ul .title-item .dropmenu {
    display: none;
    width: 100%;
    min-width: 87.5px;
    height: 450px;
    background: rgba(63, 78, 68, 0.6);
    position: absolute;
    top: 55px;
    left: 0;
    z-index: 3;
    font-size: 1.4rem;
}

.dropmenu ul li {
    width: 100%;
    height: 60px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    /*position: relative;*/
}

.dropmenu ul li:hover .dropmenu-right-wrapper {
    display: block;
}

.dropmenu ul li .cameraIcon {
    float: left;
    color: #fff;
    font-size: 2rem;
    display: block;
    line-height: 60px;
    text-align: center;
    margin: 0 8%;
}

.dropmenu ul li a {
    line-height: 60px;
    display: block;
    color: #ffffff;
}

.dropmenu ul li .dropmenu-right-wrapper {
    display: none;
    position: absolute;
    left: 100%;
    top: 0;
    width: 421.5%;
    min-width: 585px;
    height: 450px;
    background: #fcfcfc;
}

.dropmenu-right-wrapper .dropmenu-right-btn {
    position: absolute;
    left: -15px;
    top: 20px;
    border: 8px solid rgba(255, 255, 255, 0);
    border-right-color: rgb(255, 255, 255);
}

.dropmenu-right-wrapper .dropmenu-right {
    width: 93.44%;
    height: 100%;
    margin: 0 auto;
    color: #666666;
}

.dropmenu-right .title {
    width: 100%;
    font-size: 1.4rem;
    border-bottom: 1px dotted #cccccc;
    line-height: 53px;
}

.dropmenu-right .camera-items {
    width: 94%;
}

.dropmenu-right .camera-items .camera-item, .dropmenu-right .camera-items .divide-line {
    float: left;
    color: #666666;
    line-height: 34px;
    font-size: 1.2rem;
}

.dropmenu-right .camera-items .camera-item:hover {
    color: #fd8d24;
}

.dropmenu-right .camera-items .divide-line {
    margin: 0 1.8%;
}

.dropmenu-right .bottom {
    width: 100%;
    margin-top: 7.5%;
}

.dropmenu-right .bottom .descr {
    width: 50%;
    margin-top: 10%;
    float: left;
}

.dropmenu-right .bottom .descr1 {
    display: inline-block;
    color: #0d0d0d;
    font-size: 3rem;
}

.dropmenu-right .bottom .descr2 {
    display: inline-block;
    color: #0c0c0c;
    font-size: 2rem;
}

.dropmenu-right .bottom .img {
    width: 50%;
    float: left;
}

.dropmenu-right .bottom .img img {
    width: 100%;
}


/*  猫陆�?忙鈥櫬モ��?�?  */
.main_visual{
    height:495px;
    overflow:hidden;
    position:relative;
    margin-bottom: 30px;
    display: block;
}
.main_image {
    height:450px;
    overflow:hidden;
    position:relative;
}
.main_image ul{
    width:9999px;
    height:450px;
    overflow:hidden;
    position:absolute;
    top:0;
    left:0
}
.main_image li{
    float:left;
    height:450px;
}
.main_image li a{
    display:block;
    width:100%;
    height:450px;
    }
.main_image li img {
    width: 100%;
    height: 100%;
}
.main_visual .flicking_con {
    position: absolute;
    width: 100%;
    height: 45px;
    background: #efefef;
    left: 0;
    margin-left: 0;
    z-index: 5;
    bottom: 0;
    text-align: center;
}
.main_visual .flicking_con span {
    cursor: pointer;
    width: 15px;
    height: 15px;
    border-radius: 15px;
    margin-top: 15px;
    background: #fff;
    display: inline-block;
    margin-left: 5px;
}
.main_visual .flicking_con .on {
    background: #fd8d24;
}

.index-small-show {
    width: 100%;
    display: none;
}
@media screen and (max-width: 719px){
    .main_visual {
        display: none;
    }
    .index-small-show {
        display: block;
    }
}
.index-small-show .small-show-content {
    width: 100%;
    overflow: hidden;
    background: #fff;
    display: block;
    border-bottom: 1px solid #cdcdcd;
    margin-bottom: 20px;
}
.index-small-show .small-show-content img {
    width: 100%;
    display: block;
}
.index-small-show .small-show-content .small-show-text {
    font-size: 2rem;
    color: #616161;
    margin: 16px 20px 20px;
}
.index-small-show .small-show-content .small-show-price {
    float: right;
    color: rgb(246,30,71);
    font-size: 2.6rem;
}

.special-main {
    width: 97.11%;
    margin: 0 auto;
    margin-top: 70px;
}
.special-main .special-guess {
    width: 100%;
    overflow: hidden;
    display: block;
}
@media screen and (max-width: 719px){
    .special-main {
       margin-top: 0; 
       width: 94.4%;
    }
    .special-main .special-guess {
        display: none;
    }
}
.special-main .special-guess .guess-title {
    font-size: 1.8rem;
    background: #f0f0f0;
    color: #000;
    font-weight: bold;
    padding: 5px 0;
    margin-left: 18px;
}
.special-main .special-guess .gusee-list {
    width: 100%;
    background: #fff;
    overflow: hidden;
}
.special-guess .gusee-list .gusee-item {
    width: 20%;
    float: left;
    display: block;
}
.special-guess .gusee-item .gusee-content {
    width: 77%;
    margin: 0 auto;
}
.special-guess .gusee-content img {
    width: 100%;
    display: block;
}
.special-guess .gusee-content p {
    font-size: 1.3rem;
    color: #636363;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.special-guess .gusee-content .guess-price {
    margin-top: 10px;
    margin-bottom: 27px;
}
.special-guess .gusee-content .now-price {
    font-size: 1.7rem;
    color: #ff684c;
    /*font-weight: bold;*/
}
.special-guess .gusee-content .old-price {
    text-decoration: line-through;
    margin-left: 10px;
    color: #a8a8a8;
}

.special-main .special-hot {
    width: 100%;
    padding: 30px 0;
    margin-bottom: 10px;
}
@media screen and (max-width: 719px){
    .special-main .special-hot {
        padding-top: 5px;
    }
}
.special-main .special-hot .hot-header {
    width: 100%;
}
.special-hot .hot-header .hot-header-line {
    float:left;
    width: 33%;
    height: 2px;
    border-top: 4px solid #cbcbcb;
    margin-top: 23px;
}
.special-hot .hot-header .hot-header-title {
    width: 34%;
    text-align: center;
    font-size: 3.3rem;
    float: left;
    color: #4b4b4b;
    /*line-height: 45px;*/
}
.special-main .special-hot .special-hot-content {
    width: 100%;
    overflow: hidden;
    margin-top: 42px;
    display: block;
}
@media screen and (max-width: 719px){
    .special-main .special-hot .special-hot-content {
        display: none;
    }
    .special-hot .hot-header .hot-header-title {
        font-size: 1.8rem;
        width: 46%;
    }
    .special-hot .hot-header .hot-header-line {
        margin-top: 15px;
        border-top: 2px solid #cbcbcb;
        width: 27%;
    }
}
.special-hot .hot-content-item {
    width: 32.66%;
    float: left;
    background: #eeeeee;
    margin-bottom: 30px;
    position: relative;
    margin-right: 1%;
}
.special-hot .hot-content-item:nth-child(3n) {
    margin-right: 0;
}

.special-hot .hot-content-item .hot-content-img {
    width:100%;
}
.special-hot .hot-content-item .hot-content-main {
    opacity: 1;
    filter: alpha(opacity: 100);
}

.special-hot .hot-content-img img {
    width: 100%;
    display: block;
}
.special-hot .hot-content-item .hot-content-bargin {
    margin: 11px 0 5px 10px;
    overflow: hidden;
}
.special-hot .hot-content-bargin .hot-bargin {
    width: 50px;
    line-height: 21px;
    display: block;
    background: #fb375f;
    text-align: center;
    font-size: 1.2rem;
    float: left;
    color: #fff;
    border: 1px solid #fb3559;
    border-radius: 2px;
}
.special-hot .hot-content-bargin .hot-bargin-text {
    margin-left: 60px;
    margin-top: 5px;
    font-size: 1.4rem;
    color: #636363;
    display: block;
    /*float: left;*/
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.special-hot .hot-content-item .hot-content-price {
    float: left;
    margin: 8px 0 12px 10px;
}
.special-hot .hot-content-price .hot-price-now {
    font-size: 2rem;
    color: #fb375f;
}
.special-hot .hot-content-price .hot-price-old {
    text-decoration: line-through;
    margin-left: 10px;
    font-size: 1.4rem;
    color: #979797;
}
.special-hot .hot-content-item .hot-buy {
    float: right;
    color: #636363;
    font-size: 1.4rem;
    margin-bottom: 12px;
}
.special-hot .hot-buy-people {
    display: block;
    margin-right: 25px;
    margin-top: 13px;
    float: left;
}
.special-hot .hot-buy-people .hot-people-num {
    color: #fb375f;
   
}
.special-hot .hot-buy .hot-buy-buttom {
    display: block;
    color: #fff;
    width: 85px;
    line-height: 30px;
    background: #fd8c24;
    float: left;
    text-align: center;
    font-size: 1.6rem;
    border-radius: 2px;
    border: 1px solid #fb8605;
    margin-right: 15px;  
}
/* .hot-content-item hover */
.special-hot .special-hot-hover {
        position: absolute;
        bottom: 0;
        width: 100%;
        background: rgba(0,0,0,0.4);
        filter: alpha(opacity: 0);
        opacity: 0;
        text-align: center;
        /*padding-top: 55px;*/
        padding-bottom: 32px;
        color: #fff;
    }
    .special-hot .special-hot-hover .special-hover-icon {
        float: left;
        margin-left: 5%;
        width: 40px;
        font-size: 3.4rem;
        margin-top: 5px;
    }
    .special-hot-hover .special-hover-time img {
        width: 100%;
    }
    .special-hot .special-hot-hover .special-hover-mid {
        float: left;
        text-align: left;
        margin-left: 2%;
    }
    .special-hot-hover .special-hover-mid .special-hover-time {
        font-size: 2.2rem;
    }
    .special-hot-hover .special-hover-mid .special-hover-num {
        font-size: 1.4rem;
    }
.special-hot .special-hot-hover .special-hover-right {
    float: right;
    margin-top: 5px;
}
.special-hot-hover .special-hover-right .special-hover-button {
    background: rgb(246,30,71);
    display: block;
    width: 90px;
    margin: 0 auto;
    padding: 6px 10px;
    font-size: 2.2rem;
    float: right;
    margin-right: 1rem;
    border-radius: 2px;
    color: #fff;
}
.hot-content-item:hover .special-hot-hover{
    opacity: 1;
    filter: alpha(opacity: 100);
}
.hot-content-item:hover .hot-content-main{
    opacity: 0;
    filter: alpha(opacity: 0);
}

/*  special-hot small */
.special-hot .special-hot-consmall {
    width: 100%;
    display: none;
    overflow: hidden;
    margin-top: 20px;
    margin-bottom: 80px;
}
@media screen and (max-width: 719px){
    .special-hot .special-hot-consmall {
        display: block;
    }
}
.special-hot .special-hot-consmall .hot-consmall-item{
    width: 49%;
    margin-right: 2%;
    display: block;
    float: left;
    background: #fff;
    margin-bottom: 20px;
}
.special-hot .special-hot-consmall .hot-consmall-item:nth-child(2n) {
    margin-right: 0;
}
.special-hot .special-hot-consmall .hot-consmall-img {
    width: 100%;
}
.special-hot .hot-consmall-img img {
    width: 100%;
    display: block;
} 
.special-hot .special-hot-consmall .hot-consmall-main {
    width: 100%;
}
.special-hot  .hot-consmall-main .hot-consmall-bargin {
    font-size: 1.4rem;
    color: #636363;
    margin: 10px;
}
.special-hot  .hot-consmall-main .hot-consmall-price {
    float: left;
    margin: 0px 0 12px 10px;
}
.special-hot .hot-consmall-main .hotsmall-price-now {
    color: #fb375f;
    font-size: 1.4rem;
}
.special-hot .hot-consmall-main .hotsmall-price-old {
    text-decoration: line-through;
    margin-left: 10px;
    font-size: 1.8rem;
    color: #979797;
}
.special-hot .hot-consmall-main .hotsmall-buy {
    float: right;
    font-size: 1.4rem;
    color: #636363;
    margin-right: 10px;
}
.special-hot .hotsmall-buy .hotsmall-people-num {
    color: #fb375f;
}

/*  footer  */
.index-footer {
    padding-top: 15px;
    overflow: hidden;
    display: block;
}
@media screen and (max-width: 719px){
    .index-footer {
        display: none;
    }
}

.footer-top {
    overflow: hidden;
    width: 97.11%;
    margin: 0 auto;
}

.index-wechat {
    float: left;
    width: 12.5%;
    text-align: center;
    margin-left: 4.5%;
}

.index-wechat img {
    width: 94.66%;
}

.index-wechat p {
    font-size: 1.8rem;
    color: #535353;
    margin-top: 20px;
}

.index-title {
    float: left;
    width: 79%;
    margin-left: 4%;
}

.wrap {
    width: 20%;
    overflow: hidden;
    float: left;
    white-space: nowrap;
}

.title-image {
    height: 38px;
    float: left;
}
.orderConfirm_sendPay dl{
	float: none;
	margin-left: 0;
	width: 50%;
}
dl {
    float: left;
    margin-left: 5%;
    width: 110px;
}

dl dt span {
    height: 38px;
    line-height: 38px;
    color: #353535;
    font-size: 2rem;
}

dl dd ul {
    list-style: none;
    counter-reset: count;
}

dl dd ul li {
    line-height: 25px;
}

dl dd ul li:before {
    content: ".";
    color: #707070;
}

dl dd ul li a {
    color: #494949;
    font-size: 1.4rem;
    margin-left: 8px;
}

.footer-middle {
    overflow: hidden;
    border-top: 1px solid #d2d2d2;
    margin-top: 30px;
}

.accenture-digital-logo {
    float: left;
    margin-left: 5%;
    line-height: 115px;
    width: 15.57%;
}

.accenture-digital-logo img {
    /*padding-top: 40px;*/
    width: 100%;
    vertical-align: middle;
}

.service {
    float: left;
    height: 115px;
    margin-left: 7%;
    width: 72%;
}

.service ul {
    overflow: hidden;
}

.service ul li {
    float: left;
    list-style: none;
    height: 115px;
    width: 25%;
}

.service-content {
    overflow: hidden;

}

.service-content img {
    padding-top: 25px;
    float: left;
    /*vertical-align: middle;*/
    width: 28.83%;

}

.service-content-text {
    float: left;
    margin-left: 5%;
}

.service-content-text h2 {
    margin-top: 34px;
    color: #6c6c6c;
    font-size: 1.9rem;
}

.service-content-text span {
    font-size: 1.6rem;
    color: #989898;
}

.footer-bottom {
    width: 100%;
    height: 70px;
    line-height: 70px;
    background-color: #43403b;
    text-align: center;
    font-size: 1.7rem;
    color: #fff;
}



/*  footer small*/
.special-small-footer {
    width: 100%;
    /*padding-top: 3rem;*/
    position: relative;
    margin-top: -18px;
    position: fixed;
    bottom: 0;
    display: none;
}
@media screen and (max-width: 719px){
    .special-small-footer {
        display: block;
    }
}
.special-small-footer .small-footer-ul{
    overflow: hidden;
    border-top: 0.2rem solid #ccc;
    background-color: #eee;
}
.special-small-footer .small-footer-ul .small-footer-li{
    width: 23%;
    float: left;
    height: 7.8rem;
    line-height: 7.8rem;
    text-align: center;
    font-size: 2.5rem;
    /*color: #515151;*/
    cursor: pointer;
   
}
.special-small-footer .small-footer-ul .small-footer-li:last-child {
     position: relative;
}
.special-small-footer .small-footer-ul .small-footer-li a{
    color: #515151;
}
.special-small-footer .small-footer-ul .small-footer-li:first-child a{
    color: #fb5353;
}
.special-small-footer .small-footer-ul .small-footer-li:last-child{
    width: 31%;
    position: relative;
}
.small-footer-circle{
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    background-color: red;
    font-size: 1.4rem;
    line-height: 2rem;
    position: absolute;
    top: 1.3rem;
    /*right: 19%;*/
    border: none;
    color: white;
}
.small-footer-classification{
    width: 100%;
    z-index: 5;
    position: absolute;
    right: 0;
    bottom: 8rem;
    background-color: white;
    display: none;
}
.small-footer-classli{
    height: 4.8rem;
    line-height: 4.8rem;
    text-align: center;
    border-top: 0.1rem solid #ccc;
}
.small-footer-classli a{
    font-size: 1.6rem;
    color: #666;
}