.hiddenDiv {
	display: none;
}
.hdta {
	display: none;
}
.hdtac {
	display: none;
}
.tab-nav  {
	margin-bottom: 15px;
	margin: 0;
	padding: 0;
	display: block;
	font: 12px/150% Arial, Verdana, "\5b8b\4f53";
	color: #666;
	float: left;
	position: relative;
	margin-left: 5px;
	margin-top: 15px;
}

.tab-nav .tab-item-selected {
  border: 2px solid #e4393c;
  padding: 5px 23px;
  cursor: default;
}

ul {
  list-style: none;
}

ul {
	margin: 0;
	padding: 0;
	display: block;
	list-style-type: disc;
	-webkit-margin-before: 1em;
	-webkit-margin-after: 1em;
	-webkit-margin-start: 0px;
	-webkit-margin-end: 0px;
	-webkit-padding-start: 40px;
}

.tab-nav .tab-item-selected b {
	display: block;
	position: absolute;
	right: 0;
	bottom: 0;
	width: 12px;
	height: 12px;
	overflow: hidden;
	background:
		url(http://misc.360buyimg.com/user/purchase/2.0.0/css/i/selected-icon.png)
		no-repeat;
	margin: 0;
	padding: 0;
}

.tab-con {
	margin: 0;
	padding: 0;
	display: block;
}

td {
	font: 12px/150% Arial, Verdana, "\5b8b\4f53";
	color: #666;
	
}

.tr1 {
	height: 50px;
}

.trapp {
	height: 30px;
}

.tr1 td {
	text-align:center; 
	padding-top : 15px;
	border: 1px solid #ccc;
}

.trapp td {
	text-align:center; 
	padding-top : 15px;
	border: 1px solid #ccc;
}

.std {
	cursor:not-allowed; 
}


.cursor {
	cursor : pointer; 
}

.chosedtd {
	background-color : #7abd54;
	
}

.btn {
	font-family: arial,"microsoft yahei";
  	display: inline-block;
  	height: 33px;
  	line-height: 23px;
  	background-color: #f2f2f2;
}

