/*
## userRegister
********************************************************************/

.userRegister{
	border: 1px solid #A5A5A5;
	padding:0 3%;   /*wangkena  12/22*/
	width:94%;   /*wangkena  12/11*/
	float:left;
}
@media screen and (max-width:719px){
	.userRegister {
		width:96%;
		padding:2%;
		margin: 0 auto;
	}
	.span-12 {
		margin-right:0;
	}
}
.userRegister .headline{
	border-bottom: 1px solid #A5A5A5;
	font-size: 1.2em;
	font-weight: bold;
	height: 33px;
	line-height: 39px;
	text-transform: uppercase;
	margin:0 0 20px 0;
}


.userRegister .description{
	margin:0 0 20px 0;
}

.userRegister  form{
	margin:0;
}



#recaptcha_widget{
	margin:20px 0 0 0;
}


/* zhangmiao  1/12 */
#registerForm .control-group label .mandatory {
	display: inline-block;
    vertical-align: top;
    margin-left: 5px;
}
#loginForm .control-group label .mandatory {
	display: inline-block;
    vertical-align: top;
    margin-left: 5px;
}
.userRegister #registerForm .form-actions button.positive {
	width: 125px;
    font-size: 15px;
    font-weight:normal;
}


.hearer_banner_img {
				width: 100%;
   				 overflow: hidden;
}
.hearer_banner_img .title,
.hearer_banner_img .details,
.hearer_banner_img .action,
.hearer_banner_img .banner_img,
.hearer_banner_img .banner_img_small {
				display:none;
}
.hearer_banner_img {
   				 width: 100%;
}
.hearer_banner_img img {
  				  width: 100%;
  				  display: block;
}
.hearer_banner_img .disp-img .thumb {
	margin: 0;
	width: 100%;
}